In [1]:
library(caret, quiet = TRUE)
library(base64enc)
library(httr, quiet = TRUE)

library(mlbench)

Attaching package: ‘httr’

The following object is masked from ‘package:caret’:

    progress

# Build a Model

In [2]:


data(BostonHousing)
BostonHousing$chas = as.numeric(BostonHousing$chas)

set.seed(1960)

dataset = BostonHousing[, -14] 

create_model  =  function() {

    model <- train(medv ~ ., data = BostonHousing, method = "rpart", preProcess=c("pca"))    

    return(model)
}

In [3]:
model = create_model()
# cat(model$feature_names)
# print(model)

Warning message in nominalTrainWorkflow(x = x, y = y, wts = weights, info = trainInfo, :
“There were missing values in resampled performance measures.”

In [4]:
pred_labels <- predict(model, BostonHousing[, -14] , type="raw")
df = data.frame(BostonHousing[,14])
names(df) = c("medv")
df$Estimator = pred_labels
df$Error = df$Estimator - df$medv
MAPE = mean(abs(df$Error / df$medv))
summary(df)
MAPE

      medv         Estimator         Error
 Min.   : 5.00   Min.   :17.17   Min.   :-32.8329
 1st Qu.:17.02   1st Qu.:17.17   1st Qu.: -2.5208
 Median :21.20   Median :23.07   Median :  0.6734
 Mean   :22.53   Mean   :22.53   Mean   :  0.0000
 3rd Qu.:25.00   3rd Qu.:23.07   3rd Qu.:  3.7671
 Max.   :50.00   Max.   :36.22   Max.   : 13.7157

[1] 0.2358512

# SQL Code Generation

In [5]:

test_ws_sql_gen = function(mod) {
    WS_URL = "https://sklearn2sql.herokuapp.com/model"
    WS_URL = "http://localhost:1888/model"
    model_serialized <- serialize(mod, NULL)
    b64_data = base64encode(model_serialized)
    data = list(Name = "xgboost_test_model", SerializedModel = b64_data , SQLDialect = "postgresql" , Mode="caret")
    r = POST(WS_URL, body = data, encode = "json")
    # print(r)
    content = content(r)
    # print(content)
    lSQL = content$model$SQLGenrationResult[[1]]$SQL # content["model"]["SQLGenrationResult"][0]["SQL"]
    return(lSQL);
}

In [6]:
lModelSQL = test_ws_sql_gen(model)
cat(lModelSQL)

WITH "CenteredDataForPCA" AS
(SELECT "ADS"."KEY" AS "KEY", (CAST("ADS"."Feature_0" AS FLOAT) - 3.6135235573122526) / 8.60154510533249 AS "Feature_0", (CAST("ADS"."Feature_1" AS FLOAT) - 11.363636363636365) / 23.322452994515135 AS "Feature_1", (CAST("ADS"."Feature_2" AS FLOAT) - 11.13677865612648) / 6.860352940897585 AS "Feature_2", (CAST("ADS"."Feature_3" AS FLOAT) - 1.0691699604743083) / 0.2539940413404104 AS "Feature_3", (CAST("ADS"."Feature_4" AS FLOAT) - 0.5546950592885376) / 0.115877675667556 AS "Feature_4", (CAST("ADS"."Feature_5" AS FLOAT) - 6.284634387351779) / 0.7026171434153233 AS "Feature_5", (CAST("ADS"."Feature_6" AS FLOAT) - 68.57490118577077) / 28.148861406903617 AS "Feature_6", (CAST("ADS"."Feature_7" AS FLOAT) - 3.7950426877470353) / 2.105710126627611 AS "Feature_7", (CAST("ADS"."Feature_8" AS FLOAT) - 9.549407114624506) / 8.707259384239368 AS "Feature_8", (CAST("ADS"."Feature_9" AS FLOAT) - 408.2371541501977) / 168.537116054959 AS "Feature_9", (CAST("ADS"."Feature_10" AS FLOAT) - 18.455533596837945) / 2.1649455237144406 AS "Feature_10", (CAST("ADS"."Feature_11" AS FLOAT) - 356.6740316205533) / 91.29486438415783 AS "Feature_11", (CAST("ADS"."Feature_12" AS FLOAT) - 12.653063241106722) / 7.141061511348569 AS "Feature_12"
FROM "INPUT_DATA" AS "ADS"),
"ADS_car_1_OUT" AS
(SELECT "CenteredDataForPCA"."KEY" AS "KEY", "CenteredDataForPCA"."Feature_0" * 0.2509513970070941 + "CenteredDataForPCA"."Feature_1" * -0.25631454103240026 + "CenteredDataForPCA"."Feature_2" * 0.346672065283974 + "CenteredDataForPCA"."Feature_3" * 0.00504243430350005 + "CenteredDataForPCA"."Feature_4" * 0.3428523131455746 + "CenteredDataForPCA"."Feature_5" * -0.18924256979446785 + "CenteredDataForPCA"."Feature_6" * 0.3136705960990012 + "CenteredDataForPCA"."Feature_7" * -0.3215438656900491 + "CenteredDataForPCA"."Feature_8" * 0.3197927677268653 + "CenteredDataForPCA"."Feature_9" * 0.33846914672407835 + "CenteredDataForPCA"."Feature_10" * 0.20494225789379752 + "CenteredDataForPCA"."Feature_11" * -0.2029726115487236 + "CenteredDataForPCA"."Feature_12" * 0.3097598399532092 AS caret_preprocess_output_2, "CenteredDataForPCA"."Feature_0" * -0.31525236789261285 + "CenteredDataForPCA"."Feature_1" * -0.3233129049478517 + "CenteredDataForPCA"."Feature_2" * 0.11249290840362802 + "CenteredDataForPCA"."Feature_3" * 0.4548291358125582 + "CenteredDataForPCA"."Feature_4" * 0.21911553071380926 + "CenteredDataForPCA"."Feature_5" * 0.14933154130986415 + "CenteredDataForPCA"."Feature_6" * 0.31197777808858984 + "CenteredDataForPCA"."Feature_7" * -0.3490700044535904 + "CenteredDataForPCA"."Feature_8" * -0.2715209369150067 + "CenteredDataForPCA"."Feature_9" * -0.2394536451210735 + "CenteredDataForPCA"."Feature_10" * -0.30589695426565683 + "CenteredDataForPCA"."Feature_11" * 0.2385594434622721 + "CenteredDataForPCA"."Feature_12" * -0.07432202707053859 AS caret_preprocess_output_3, "CenteredDataForPCA"."Feature_0" * 0.2465664916015588 + "CenteredDataForPCA"."Feature_1" * 0.29585781573137704 + "CenteredDataForPCA"."Feature_2" * -0.01594591523872142 + "CenteredDataForPCA"."Feature_3" * 0.28978081523708604 + "CenteredDataForPCA"."Feature_4" * 0.1209641083447827 + "CenteredDataForPCA"."Feature_5" * 0.5939611667512528 + "CenteredDataForPCA"."Feature_6" * -0.0176748092866678 + "CenteredDataForPCA"."Feature_7" * -0.04973627273186505 + "CenteredDataForPCA"."Feature_8" * 0.2872548345188948 + "CenteredDataForPCA"."Feature_9" * 0.2207444705668772 + "CenteredDataForPCA"."Feature_10" * -0.3234462722818899 + "CenteredDataForPCA"."Feature_11" * -0.3001459005984176 + "CenteredDataForPCA"."Feature_12" * -0.2670002476282283 AS caret_preprocess_output_4, "CenteredDataForPCA"."Feature_0" * -0.06177070730244386 + "CenteredDataForPCA"."Feature_1" * -0.12871159098547744 + "CenteredDataForPCA"."Feature_2" * -0.017145713978118718 + "CenteredDataForPCA"."Feature_3" * -0.8159413638305808 + "CenteredDataForPCA"."Feature_4" * 0.12822613989456658 + "CenteredDataForPCA"."Feature_5" * 0.2805918381718397 + "CenteredDataForPCA"."Feature_6" * 0.1752060327559884 + "CenteredDataForPCA"."Feature_7" * -0.21543585408874694 + "CenteredDataForPCA"."Feature_8" * -0.13234995822046305 + "CenteredDataForPCA"."Feature_9" * -0.1033350921020925 + "CenteredDataForPCA"."Feature_10" * -0.28262197561387253 + "CenteredDataForPCA"."Feature_11" * -0.16849849675485046 + "CenteredDataForPCA"."Feature_12" * -0.06941441058327473 AS caret_preprocess_output_5, "CenteredDataForPCA"."Feature_0" * 0.08215691888385966 + "CenteredDataForPCA"."Feature_1" * 0.320616986590648 + "CenteredDataForPCA"."Feature_2" * -0.0078111936968958545 + "CenteredDataForPCA"."Feature_3" * 0.08653094482623847 + "CenteredDataForPCA"."Feature_4" * 0.13685355684243689 + "CenteredDataForPCA"."Feature_5" * -0.42344719520817437 + "CenteredDataForPCA"."Feature_6" * 0.01669084721623361 + "CenteredDataForPCA"."Feature_7" * 0.09859224710067309 + "CenteredDataForPCA"."Feature_8" * -0.20413162056772288 + "CenteredDataForPCA"."Feature_9" * -0.13046056517005236 + "CenteredDataForPCA"."Feature_10" * -0.5840022319155256 + "CenteredDataForPCA"."Feature_11" * -0.3456069474449004 + "CenteredDataForPCA"."Feature_12" * 0.39456112850318564 AS caret_preprocess_output_6, "CenteredDataForPCA"."Feature_0" * -0.2196596119916216 + "CenteredDataForPCA"."Feature_1" * -0.32338810230257803 + "CenteredDataForPCA"."Feature_2" * -0.07613789853124872 + "CenteredDataForPCA"."Feature_3" * 0.16749014135038012 + "CenteredDataForPCA"."Feature_4" * -0.15298267012251374 + "CenteredDataForPCA"."Feature_5" * 0.05926707386605683 + "CenteredDataForPCA"."Feature_6" * -0.07170914451657844 + "CenteredDataForPCA"."Feature_7" * 0.02343872338534381 + "CenteredDataForPCA"."Feature_8" * -0.14319401187015138 + "CenteredDataForPCA"."Feature_9" * -0.19293428207664656 + "CenteredDataForPCA"."Feature_10" * 0.2731532998292745 + "CenteredDataForPCA"."Feature_11" * -0.8034545367136144 + "CenteredDataForPCA"."Feature_12" * -0.053215829727622434 AS caret_preprocess_output_7, "CenteredDataForPCA"."Feature_0" * 0.7776072067450954 + "CenteredDataForPCA"."Feature_1" * -0.2749962801922408 + "CenteredDataForPCA"."Feature_2" * -0.3395764543084556 + "CenteredDataForPCA"."Feature_3" * 0.07413620811204719 + "CenteredDataForPCA"."Feature_4" * -0.1996348401087879 + "CenteredDataForPCA"."Feature_5" * 0.06393992432284622 + "CenteredDataForPCA"."Feature_6" * 0.1160107134488674 + "CenteredDataForPCA"."Feature_7" * -0.10390043998563353 + "CenteredDataForPCA"."Feature_8" * -0.13794254628014904 + "CenteredDataForPCA"."Feature_9" * -0.3148868347926666 + "CenteredDataForPCA"."Feature_10" * 0.002323869265375702 + "CenteredDataForPCA"."Feature_11" * 0.07029475884624245 + "CenteredDataForPCA"."Feature_12" * 0.0870111691863693 AS caret_preprocess_output_8, "CenteredDataForPCA"."Feature_0" * -0.15335047663641807 + "CenteredDataForPCA"."Feature_1" * 0.4026803090893618 + "CenteredDataForPCA"."Feature_2" * -0.1739317157305119 + "CenteredDataForPCA"."Feature_3" * 0.02466214767995399 + "CenteredDataForPCA"."Feature_4" * -0.08012056035960702 + "CenteredDataForPCA"."Feature_5" * 0.3267522588744157 + "CenteredDataForPCA"."Feature_6" * 0.6008229171124247 + "CenteredDataForPCA"."Feature_7" * 0.12181198210837367 + "CenteredDataForPCA"."Feature_8" * -0.08035831055459822 + "CenteredDataForPCA"."Feature_9" * -0.08277434696301456 + "CenteredDataForPCA"."Feature_10" * 0.31788420162160136 + "CenteredDataForPCA"."Feature_11" * 0.004922914852933655 + "CenteredDataForPCA"."Feature_12" * 0.42435292601302005 AS caret_preprocess_output_9, "CenteredDataForPCA"."Feature_0" * 0.26039028404780634 + "CenteredDataForPCA"."Feature_1" * 0.35813748602707574 + "CenteredDataForPCA"."Feature_2" * 0.6444161549324688 + "CenteredDataForPCA"."Feature_3" * -0.01372777159025782 + "CenteredDataForPCA"."Feature_4" * -0.01852201242956769 + "CenteredDataForPCA"."Feature_5" * 0.04789803527115062 + "CenteredDataForPCA"."Feature_6" * -0.067562182108849 + "CenteredDataForPCA"."Feature_7" * -0.1532912448609238 + "CenteredDataForPCA"."Feature_8" * -0.4708906692227936 + "CenteredDataForPCA"."Feature_9" * -0.17656339103436086 + "CenteredDataForPCA"."Feature_10" * 0.2544283603125748 + "CenteredDataForPCA"."Feature_11" * -0.044898023687983214 + "CenteredDataForPCA"."Feature_12" * -0.1952213902682112 AS caret_preprocess_output_10
FROM "CenteredDataForPCA"),
"DT_node_lookup" AS
(SELECT "ADS_car_1_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_car_1_OUT".caret_preprocess_output_2 >= -0.16012621231664964) THEN 2 ELSE CASE WHEN ("ADS_car_1_OUT".caret_preprocess_output_4 < 0.5331400541022757) THEN 6 ELSE 7 END END AS node_id_2
FROM "ADS_car_1_OUT"),
"DT_node_data" AS
(SELECT "Values".nid AS nid, "Values"."E" AS "E"
FROM (SELECT 2 AS nid, 17.167099567099573 AS "E" UNION ALL SELECT 6 AS nid, 23.07343749999998 AS "E" UNION ALL SELECT 7 AS nid, 36.2156626506024 AS "E") AS "Values"),
"DT_Output" AS
(SELECT "DT_node_lookup"."KEY" AS "KEY", "DT_node_lookup".node_id_2 AS node_id_2, "DT_node_data".nid AS nid, "DT_node_data"."E" AS "E"
FROM "DT_node_lookup" LEFT OUTER JOIN "DT_node_data" ON "DT_node_lookup".node_id_2 = "DT_node_data".nid)
 SELECT "DT_Output"."KEY" AS "KEY", "DT_Output"."E" AS "Estimator"
FROM "DT_Output"

# Execute the SQL Code

In [7]:
library(RODBC)
conn = odbcConnect("pgsql", uid="db", pwd="db", case="nochange")
odbcSetAutoCommit(conn , autoCommit = TRUE)

[1] 0

In [8]:
df_sql = dataset
names(df_sql) = sprintf("Feature_%d",0:(ncol(df_sql)-1))
df_sql$KEY = seq.int(nrow(dataset))

sqlDrop(conn , "INPUT_DATA" , errors = FALSE)
sqlSave(conn, df_sql, tablename = "INPUT_DATA", verbose = FALSE)

# df_sql

In [9]:
colnames(df_sql)
# odbcGetInfo(conn)
# sqlTables(conn)

 [1] "Feature_0"  "Feature_1"  "Feature_2"  "Feature_3"  "Feature_4"
 [6] "Feature_5"  "Feature_6"  "Feature_7"  "Feature_8"  "Feature_9"
[11] "Feature_10" "Feature_11" "Feature_12" "KEY"

In [10]:
df_sql_out = sqlQuery(conn, lModelSQL)
head(df_sql_out[order(df_sql_out$KEY),])

  KEY Estimator
1 1   23.07344
2 2   23.07344
3 3   23.07344
4 4   23.07344
5 5   23.07344
6 6   23.07344

In [11]:
# df_sql_out

# R RPART Output

In [12]:
estimator  =  predict(model, dataset, type = "raw")
df_r_out = data.frame(estimator)
names(df_r_out) = c("Estimator")

df_r_out$KEY = seq.int(nrow(dataset))
head(df_r_out)

  Estimator KEY
1 23.07344  1
2 23.07344  2
3 23.07344  3
4 23.07344  4
5 23.07344  5
6 23.07344  6

# Compare R and SQL output

In [13]:
df_merge = merge(x = df_r_out, y = df_sql_out, by = "KEY", all = TRUE, , suffixes = c("_1","_2"))
head(df_merge)

  KEY Estimator_1 Estimator_2
1 1   23.07344    23.07344
2 2   23.07344    23.07344
3 3   23.07344    23.07344
4 4   23.07344    23.07344
5 5   23.07344    23.07344
6 6   23.07344    23.07344

In [14]:
df_merge$Error = df_merge$Estimator_1 - df_merge$Estimator_2
df_merge$AbsError = abs(df_merge$Error)
head(df_merge)

  KEY Estimator_1 Estimator_2 Error        AbsError
1 1   23.07344    23.07344    3.552714e-15 3.552714e-15
2 2   23.07344    23.07344    3.552714e-15 3.552714e-15
3 3   23.07344    23.07344    3.552714e-15 3.552714e-15
4 4   23.07344    23.07344    3.552714e-15 3.552714e-15
5 5   23.07344    23.07344    3.552714e-15 3.552714e-15
6 6   23.07344    23.07344    3.552714e-15 3.552714e-15

In [15]:
df_merge_largest_errors = df_merge[df_merge$AbsError > 0.0001,]
df_merge_largest_errors

     KEY Estimator_1 Estimator_2 Error AbsError

In [16]:
stopifnot(nrow(df_merge_largest_errors) == 0)

In [17]:
summary(df_sql_out)

      KEY          Estimator
 Min.   :  1.0   Min.   :17.17
 1st Qu.:127.2   1st Qu.:17.17
 Median :253.5   Median :23.07
 Mean   :253.5   Mean   :22.53
 3rd Qu.:379.8   3rd Qu.:23.07
 Max.   :506.0   Max.   :36.22

In [18]:
summary(df_r_out)

   Estimator          KEY
 Min.   :17.17   Min.   :  1.0
 1st Qu.:17.17   1st Qu.:127.2
 Median :23.07   Median :253.5
 Mean   :22.53   Mean   :253.5
 3rd Qu.:23.07   3rd Qu.:379.8
 Max.   :36.22   Max.   :506.0

In [19]:
summary(df_merge)

      KEY         Estimator_1     Estimator_2        Error
 Min.   :  1.0   Min.   :17.17   Min.   :17.17   Min.   :-7.105e-15
 1st Qu.:127.2   1st Qu.:17.17   1st Qu.:17.17   1st Qu.:-7.105e-15
 Median :253.5   Median :23.07   Median :23.07   Median : 3.553e-15
 Mean   :253.5   Mean   :22.53   Mean   :22.53   Mean   :-7.302e-16
 3rd Qu.:379.8   3rd Qu.:23.07   3rd Qu.:23.07   3rd Qu.: 3.553e-15
 Max.   :506.0   Max.   :36.22   Max.   :36.22   Max.   : 7.105e-15
    AbsError
 Min.   :3.553e-15
 1st Qu.:3.553e-15
 Median :7.105e-15
 Mean   :5.757e-15
 3rd Qu.:7.105e-15
 Max.   :7.105e-15