In [1]:
library(caret, quiet = TRUE)
library(base64enc)
library(httr, quiet = TRUE)

library(mlbench)

Attaching package: ‘httr’

The following object is masked from ‘package:caret’:

    progress

# Build a Model

In [2]:

# a character vector specifying the type of processing. 
# Possible values are 
# "BoxCox", "YeoJohnson", "expoTrans", "center", "scale", "range", 
# "knnImpute", "bagImpute", "medianImpute", "pca", "ica", "spatialSign", 
# "corr", "zv", "nzv", and "conditionalX"

data(BostonHousing)
BostonHousing$chas = as.numeric(BostonHousing$chas)

set.seed(1960)

dataset = BostonHousing[, -14] 

create_model  =  function() {

    model <- train(medv ~ ., data = BostonHousing, method = "rpart", preProcess=c("range"))    

    return(model)
}

In [3]:
model = create_model()
# cat(model$feature_names)
# print(model)

Warning message in nominalTrainWorkflow(x = x, y = y, wts = weights, info = trainInfo, :
“There were missing values in resampled performance measures.”

In [4]:
pred_labels <- predict(model, BostonHousing[, -14] , type="raw")
df = data.frame(BostonHousing[,14])
names(df) = c("medv")
df$Estimator = pred_labels
df$Error = df$Estimator - df$medv
MAPE = mean(abs(df$Error / df$medv))
summary(df)
MAPE

      medv         Estimator         Error
 Min.   : 5.00   Min.   :14.96   Min.   :-26.6502
 1st Qu.:17.02   1st Qu.:14.96   1st Qu.: -2.6985
 Median :21.20   Median :23.35   Median :  0.6529
 Mean   :22.53   Mean   :22.53   Mean   :  0.0000
 3rd Qu.:25.00   3rd Qu.:23.35   3rd Qu.:  3.1560
 Max.   :50.00   Max.   :37.24   Max.   : 26.8382

[1] 0.2063798

# SQL Code Generation

In [5]:

test_ws_sql_gen = function(mod) {
    WS_URL = "https://sklearn2sql.herokuapp.com/model"
    WS_URL = "http://localhost:1888/model"
    model_serialized <- serialize(mod, NULL)
    b64_data = base64encode(model_serialized)
    data = list(Name = "xgboost_test_model", SerializedModel = b64_data , SQLDialect = "postgresql" , Mode="caret")
    r = POST(WS_URL, body = data, encode = "json")
    # print(r)
    content = content(r)
    # print(content)
    lSQL = content$model$SQLGenrationResult[[1]]$SQL # content["model"]["SQLGenrationResult"][0]["SQL"]
    return(lSQL);
}

In [6]:
lModelSQL = test_ws_sql_gen(model)
cat(lModelSQL)

WITH "ADS_pre_1_OUT" AS
(SELECT "ADS"."KEY" AS "KEY", CAST("ADS"."Feature_0" AS FLOAT) * 0.01123975889368402 + -7.1035276208083e-05 AS crim, CAST("ADS"."Feature_1" AS FLOAT) * 0.01 + -0.0 AS zn, CAST("ADS"."Feature_2" AS FLOAT) * 0.036656891495601175 + -0.016862170087976542 AS indus, CAST("ADS"."Feature_3" AS FLOAT) * 1.0 + -1.0 AS chas, CAST("ADS"."Feature_4" AS FLOAT) * 2.05761316872428 + -0.7921810699588477 AS nox, CAST("ADS"."Feature_5" AS FLOAT) * 0.19160758766047137 + -0.6823146196589386 AS rm, CAST("ADS"."Feature_6" AS FLOAT) * 0.010298661174047374 + -0.029866117404737384 AS age, CAST("ADS"."Feature_7" AS FLOAT) * 0.09093471796597223 + -0.10271985741436222 AS dis, CAST("ADS"."Feature_8" AS FLOAT) * 0.043478260869565216 + -0.043478260869565216 AS rad, CAST("ADS"."Feature_9" AS FLOAT) * 0.0019083969465648854 + -0.3568702290076336 AS tax, CAST("ADS"."Feature_10" AS FLOAT) * 0.10638297872340426 + -1.3404255319148937 AS ptratio, CAST("ADS"."Feature_11" AS FLOAT) * 0.0025215593322910888 + -0.0008068989863331484 AS b, CAST("ADS"."Feature_12" AS FLOAT) * 0.02759381898454746 + -0.0477373068432671 AS lstat
FROM "INPUT_DATA" AS "ADS"),
"DT_node_lookup" AS
(SELECT "ADS_pre_1_OUT"."KEY" AS "KEY", CASE WHEN ("ADS_pre_1_OUT".rm < 0.6476336462923933) THEN CASE WHEN ("ADS_pre_1_OUT".lstat >= 0.3496136865342163) THEN 4 ELSE 5 END ELSE 3 END AS node_id_2
FROM "ADS_pre_1_OUT"),
"DT_node_data" AS
(SELECT "Values".nid AS nid, "Values"."E" AS "E"
FROM (SELECT 3 AS nid, 37.23815789473685 AS "E" UNION ALL SELECT 4 AS nid, 14.956 AS "E" UNION ALL SELECT 5 AS nid, 23.349803921568643 AS "E") AS "Values"),
"DT_Output" AS
(SELECT "DT_node_lookup"."KEY" AS "KEY", "DT_node_lookup".node_id_2 AS node_id_2, "DT_node_data".nid AS nid, "DT_node_data"."E" AS "E"
FROM "DT_node_lookup" LEFT OUTER JOIN "DT_node_data" ON "DT_node_lookup".node_id_2 = "DT_node_data".nid)
 SELECT "DT_Output"."KEY" AS "KEY", "DT_Output"."E" AS "Estimator"
FROM "DT_Output"

# Execute the SQL Code

In [7]:
library(RODBC)
conn = odbcConnect("pgsql", uid="db", pwd="db", case="nochange")
odbcSetAutoCommit(conn , autoCommit = TRUE)

[1] 0

In [8]:
df_sql = dataset
names(df_sql) = sprintf("Feature_%d",0:(ncol(df_sql)-1))
df_sql$KEY = seq.int(nrow(dataset))

sqlDrop(conn , "INPUT_DATA" , errors = FALSE)
sqlSave(conn, df_sql, tablename = "INPUT_DATA", verbose = FALSE)

# df_sql

In [9]:
colnames(df_sql)
# odbcGetInfo(conn)
# sqlTables(conn)

 [1] "Feature_0"  "Feature_1"  "Feature_2"  "Feature_3"  "Feature_4"
 [6] "Feature_5"  "Feature_6"  "Feature_7"  "Feature_8"  "Feature_9"
[11] "Feature_10" "Feature_11" "Feature_12" "KEY"

In [10]:
df_sql_out = sqlQuery(conn, lModelSQL)
head(df_sql_out[order(df_sql_out$KEY),])

  KEY Estimator
1 1   23.34980
2 2   23.34980
3 3   37.23816
4 4   37.23816
5 5   37.23816
6 6   23.34980

In [11]:
# df_sql_out

# R RPART Output

In [12]:
estimator  =  predict(model, dataset, type = "raw")
df_r_out = data.frame(estimator)
names(df_r_out) = c("Estimator")

df_r_out$KEY = seq.int(nrow(dataset))
head(df_r_out)

  Estimator KEY
1 23.34980  1
2 23.34980  2
3 37.23816  3
4 37.23816  4
5 37.23816  5
6 23.34980  6

# Compare R and SQL output

In [13]:
df_merge = merge(x = df_r_out, y = df_sql_out, by = "KEY", all = TRUE, , suffixes = c("_1","_2"))
head(df_merge)

  KEY Estimator_1 Estimator_2
1 1   23.34980    23.34980
2 2   23.34980    23.34980
3 3   37.23816    37.23816
4 4   37.23816    37.23816
5 5   37.23816    37.23816
6 6   23.34980    23.34980

In [14]:
df_merge$Error = df_merge$Estimator_1 - df_merge$Estimator_2
df_merge$AbsError = abs(df_merge$Error)
head(df_merge)

  KEY Estimator_1 Estimator_2 Error         AbsError
1 1   23.34980    23.34980    -7.105427e-15 7.105427e-15
2 2   23.34980    23.34980    -7.105427e-15 7.105427e-15
3 3   37.23816    37.23816     0.000000e+00 0.000000e+00
4 4   37.23816    37.23816     0.000000e+00 0.000000e+00
5 5   37.23816    37.23816     0.000000e+00 0.000000e+00
6 6   23.34980    23.34980    -7.105427e-15 7.105427e-15

In [15]:
df_merge_largest_errors = df_merge[df_merge$AbsError > 0.0001,]
df_merge_largest_errors

     KEY Estimator_1 Estimator_2 Error AbsError

In [16]:
stopifnot(nrow(df_merge_largest_errors) == 0)

In [17]:
summary(df_sql_out)

      KEY          Estimator
 Min.   :  1.0   Min.   :14.96
 1st Qu.:127.2   1st Qu.:14.96
 Median :253.5   Median :23.35
 Mean   :253.5   Mean   :22.53
 3rd Qu.:379.8   3rd Qu.:23.35
 Max.   :506.0   Max.   :37.24

In [18]:
summary(df_r_out)

   Estimator          KEY
 Min.   :14.96   Min.   :  1.0
 1st Qu.:14.96   1st Qu.:127.2
 Median :23.35   Median :253.5
 Mean   :22.53   Mean   :253.5
 3rd Qu.:23.35   3rd Qu.:379.8
 Max.   :37.24   Max.   :506.0

In [19]:
summary(df_merge)

      KEY         Estimator_1     Estimator_2        Error
 Min.   :  1.0   Min.   :14.96   Min.   :14.96   Min.   :-7.105e-15
 1st Qu.:127.2   1st Qu.:14.96   1st Qu.:14.96   1st Qu.:-7.105e-15
 Median :253.5   Median :23.35   Median :23.35   Median :-7.105e-15
 Mean   :253.5   Mean   :22.53   Mean   :22.53   Mean   :-4.195e-15
 3rd Qu.:379.8   3rd Qu.:23.35   3rd Qu.:23.35   3rd Qu.:-1.776e-15
 Max.   :506.0   Max.   :37.24   Max.   :37.24   Max.   : 0.000e+00
    AbsError
 Min.   :0.000e+00
 1st Qu.:1.776e-15
 Median :7.105e-15
 Mean   :4.195e-15
 3rd Qu.:7.105e-15
 Max.   :7.105e-15

In [20]:
model$finalModel

n= 506

node), split, n, deviance, yval
      * denotes terminal node

1) root 506 42716.300 22.53281
  2) rm< 0.6476336 430 17317.320 19.93372
    4) lstat>=0.3496137 175  3373.251 14.95600 *
    5) lstat< 0.3496137 255  6632.217 23.34980 *
  3) rm>=0.6476336 76  6059.419 37.23816 *

In [21]:
prep = model$preProcess

In [22]:
data.frame(t(prep$ranges))

        X1        X2
crim      0.00632  88.9762
zn        0.00000 100.0000
indus     0.46000  27.7400
chas      1.00000   2.0000
nox       0.38500   0.8710
rm        3.56100   8.7800
age       2.90000 100.0000
dis       1.12960  12.1265
rad       1.00000  24.0000
tax     187.00000 711.0000
ptratio  12.60000  22.0000
b         0.32000 396.9000
lstat     1.73000  37.9700

In [23]:
colnames(prep$ranges)

 [1] "crim"    "zn"      "indus"   "chas"    "nox"     "rm"      "age"
 [8] "dis"     "rad"     "tax"     "ptratio" "b"       "lstat"

In [24]:
prep$method$range

 [1] "crim"    "zn"      "indus"   "chas"    "nox"     "rm"      "age"
 [8] "dis"     "rad"     "tax"     "ptratio" "b"       "lstat"