In [1]:
library(caret, quiet=TRUE);
library(base64enc)
library(httr)

Attaching package: ‘httr’

The following object is masked from ‘package:caret’:

    progress

# Build a Model

In [2]:
set.seed(1960)

create_model  =  function() {

    model  <- train(Species ~ ., data = iris, method = "naive_bayes")
    
    return(model)
}

In [3]:
# dataset
model = create_model()

In [4]:
pred <- predict(model, as.matrix(iris[, -5]) , type="prob")
pred_labels <- predict(model, as.matrix(iris[, -5]) , type="raw")
sum(pred_labels != iris$Species)/length(pred_labels)

[1] 0.04

# SQL Code Generation

In [5]:

test_ws_sql_gen = function(mod) {
    WS_URL = "https://sklearn2sql.herokuapp.com/model"
    WS_URL = "http://localhost:1888/model"
    model_serialized <- serialize(mod, NULL)
    b64_data = base64encode(model_serialized)
    data = list(Name = "caret_naive_bayes_test_model", SerializedModel = b64_data , SQLDialect = "postgresql" , Mode="caret")
    r = POST(WS_URL, body = data, encode = "json")
    # print(r)
    content = content(r)
    # print(content)
    lSQL = content$model$SQLGenrationResult[[1]]$SQL # content["model"]["SQLGenrationResult"][0]["SQL"]
    return(lSQL);
}

In [6]:
lModelSQL = test_ws_sql_gen(model)
cat(lModelSQL)

WITH centered_data AS
(SELECT "ADS"."KEY" AS "KEY", CAST("ADS"."Feature_0" AS FLOAT) - 5.006 AS "Feature_0_setosa", CAST("ADS"."Feature_1" AS FLOAT) - 3.428 AS "Feature_1_setosa", CAST("ADS"."Feature_2" AS FLOAT) - 1.462 AS "Feature_2_setosa", CAST("ADS"."Feature_3" AS FLOAT) - 0.24600000000000002 AS "Feature_3_setosa", CAST("ADS"."Feature_0" AS FLOAT) - 5.936 AS "Feature_0_versicolor", CAST("ADS"."Feature_1" AS FLOAT) - 2.77 AS "Feature_1_versicolor", CAST("ADS"."Feature_2" AS FLOAT) - 4.26 AS "Feature_2_versicolor", CAST("ADS"."Feature_3" AS FLOAT) - 1.3259999999999998 AS "Feature_3_versicolor", CAST("ADS"."Feature_0" AS FLOAT) - 6.587999999999999 AS "Feature_0_virginica", CAST("ADS"."Feature_1" AS FLOAT) - 2.9739999999999998 AS "Feature_1_virginica", CAST("ADS"."Feature_2" AS FLOAT) - 5.5520000000000005 AS "Feature_2_virginica", CAST("ADS"."Feature_3" AS FLOAT) - 2.026 AS "Feature_3_virginica"
FROM "INPUT_DATA" AS "ADS"),
"NaiveBayes_data" AS
(SELECT "Values"."KEY" AS "KEY", "Values"."Feature" AS "Feature", "Values".log_proba_setosa AS log_proba_setosa, "Values".log_proba_versicolor AS log_proba_versicolor, "Values".log_proba_virginica AS log_proba_virginica
FROM (SELECT centered_data."KEY" AS "KEY", 0 AS "Feature", -0.5 * -0.24759076017032786 - (0.5 * centered_data."Feature_0_setosa" * centered_data."Feature_0_setosa") / 0.1242489795918365 AS log_proba_setosa, -0.5 * 0.5152432901333052 - (0.5 * centered_data."Feature_0_versicolor" * centered_data."Feature_0_versicolor") / 0.2664326530612241 AS log_proba_versicolor, -0.5 * 0.9323849617774158 - (0.5 * centered_data."Feature_0_virginica" * centered_data."Feature_0_virginica") / 0.40434285714285706 AS log_proba_virginica
FROM centered_data UNION ALL SELECT centered_data."KEY" AS "KEY", 1 AS "Feature", -0.5 * -0.10222143162381436 - (0.5 * centered_data."Feature_1_setosa" * centered_data."Feature_1_setosa") / 0.1436897959183676 AS log_proba_setosa, -0.5 * -0.4801324969103342 - (0.5 * centered_data."Feature_1_versicolor" * centered_data."Feature_1_versicolor") / 0.0984693877551018 AS log_proba_versicolor, -0.5 * -0.42544806773372684 - (0.5 * centered_data."Feature_1_virginica" * centered_data."Feature_1_virginica") / 0.10400408163265272 AS log_proba_virginica
FROM centered_data UNION ALL SELECT centered_data."KEY" AS "KEY", 2 AS "Feature", -0.5 * -1.6633887363288724 - (0.5 * centered_data."Feature_2_setosa" * centered_data."Feature_2_setosa") / 0.03015918367346935 AS log_proba_setosa, -0.5 * 0.3274530417170544 - (0.5 * centered_data."Feature_2_versicolor" * centered_data."Feature_2_versicolor") / 0.22081632653061228 AS log_proba_versicolor, -0.5 * 0.6490810271525895 - (0.5 * centered_data."Feature_2_virginica" * centered_data."Feature_2_virginica") / 0.3045877551020404 AS log_proba_virginica
FROM centered_data UNION ALL SELECT centered_data."KEY" AS "KEY", 3 AS "Feature", -0.5 * -2.662381684334266 - (0.5 * centered_data."Feature_3_setosa" * centered_data."Feature_3_setosa") / 0.011106122448979664 AS log_proba_setosa, -0.5 * -1.403599173466646 - (0.5 * centered_data."Feature_3_versicolor" * centered_data."Feature_3_versicolor") / 0.03910612244897956 AS log_proba_versicolor, -0.5 * -0.7466379668317652 - (0.5 * centered_data."Feature_3_virginica" * centered_data."Feature_3_virginica") / 0.07543265306122428 AS log_proba_virginica
FROM centered_data) AS "Values"),
"NaiveBayes_Scores" AS
(SELECT nb_sums."KEY" AS "KEY", nb_sums."Score_setosa" AS "Score_setosa", nb_sums."Score_versicolor" AS "Score_versicolor", nb_sums."Score_virginica" AS "Score_virginica"
FROM (SELECT "NaiveBayes_data"."KEY" AS "KEY", -1.0986122886681098 + sum("NaiveBayes_data".log_proba_setosa) AS "Score_setosa", -1.0986122886681098 + sum("NaiveBayes_data".log_proba_versicolor) AS "Score_versicolor", -1.0986122886681098 + sum("NaiveBayes_data".log_proba_virginica) AS "Score_virginica"
FROM "NaiveBayes_data" GROUP BY "NaiveBayes_data"."KEY") AS nb_sums),
orig_cte AS
(SELECT "NaiveBayes_Scores"."KEY" AS "KEY", "NaiveBayes_Scores"."Score_setosa" AS "Score_setosa", "NaiveBayes_Scores"."Score_versicolor" AS "Score_versicolor", "NaiveBayes_Scores"."Score_virginica" AS "Score_virginica", CAST(NULL AS FLOAT) AS "Proba_setosa", CAST(NULL AS FLOAT) AS "Proba_versicolor", CAST(NULL AS FLOAT) AS "Proba_virginica", CAST(NULL AS FLOAT) AS "LogProba_setosa", CAST(NULL AS FLOAT) AS "LogProba_versicolor", CAST(NULL AS FLOAT) AS "LogProba_virginica", CAST(NULL AS BIGINT) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM "NaiveBayes_Scores"),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 'setosa' AS class, orig_cte."LogProba_setosa" AS "LogProba", orig_cte."Proba_setosa" AS "Proba", orig_cte."Score_setosa" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 'versicolor' AS class, orig_cte."LogProba_versicolor" AS "LogProba", orig_cte."Proba_versicolor" AS "Proba", orig_cte."Score_versicolor" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 'virginica' AS class, orig_cte."LogProba_virginica" AS "LogProba", orig_cte."Proba_virginica" AS "Proba", orig_cte."Score_virginica" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_setosa" AS "Score_setosa", orig_cte."Score_versicolor" AS "Score_versicolor", orig_cte."Score_virginica" AS "Score_virginica", orig_cte."Proba_setosa" AS "Proba_setosa", orig_cte."Proba_versicolor" AS "Proba_versicolor", orig_cte."Proba_virginica" AS "Proba_virginica", orig_cte."LogProba_setosa" AS "LogProba_setosa", orig_cte."LogProba_versicolor" AS "LogProba_versicolor", orig_cte."LogProba_virginica" AS "LogProba_virginica", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Score" AS "max_Score"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Score") AS "max_Score"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
score_soft_max_deltas AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_setosa" AS "Score_setosa", score_max."Score_versicolor" AS "Score_versicolor", score_max."Score_virginica" AS "Score_virginica", score_max."Proba_setosa" AS "Proba_setosa", score_max."Proba_versicolor" AS "Proba_versicolor", score_max."Proba_virginica" AS "Proba_virginica", score_max."LogProba_setosa" AS "LogProba_setosa", score_max."LogProba_versicolor" AS "LogProba_versicolor", score_max."LogProba_virginica" AS "LogProba_virginica", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Score" AS "max_Score", exp(greatest(-100.0, score_max."Score_setosa" - score_max."max_Score")) AS "exp_delta_Score_setosa", exp(greatest(-100.0, score_max."Score_versicolor" - score_max."max_Score")) AS "exp_delta_Score_versicolor", exp(greatest(-100.0, score_max."Score_virginica" - score_max."max_Score")) AS "exp_delta_Score_virginica"
FROM score_max),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_delta_Score" AS "exp_delta_Score"
FROM (SELECT score_soft_max_deltas."KEY" AS "KEY", 'setosa' AS class, score_soft_max_deltas."exp_delta_Score_setosa" AS "exp_delta_Score"
FROM score_soft_max_deltas UNION ALL SELECT score_soft_max_deltas."KEY" AS "KEY", 'versicolor' AS class, score_soft_max_deltas."exp_delta_Score_versicolor" AS "exp_delta_Score"
FROM score_soft_max_deltas UNION ALL SELECT score_soft_max_deltas."KEY" AS "KEY", 'virginica' AS class, score_soft_max_deltas."exp_delta_Score_virginica" AS "exp_delta_Score"
FROM score_soft_max_deltas) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_deltas."KEY" AS "KEY", score_soft_max_deltas."Score_setosa" AS "Score_setosa", score_soft_max_deltas."Score_versicolor" AS "Score_versicolor", score_soft_max_deltas."Score_virginica" AS "Score_virginica", score_soft_max_deltas."Proba_setosa" AS "Proba_setosa", score_soft_max_deltas."Proba_versicolor" AS "Proba_versicolor", score_soft_max_deltas."Proba_virginica" AS "Proba_virginica", score_soft_max_deltas."LogProba_setosa" AS "LogProba_setosa", score_soft_max_deltas."LogProba_versicolor" AS "LogProba_versicolor", score_soft_max_deltas."LogProba_virginica" AS "LogProba_virginica", score_soft_max_deltas."Decision" AS "Decision", score_soft_max_deltas."DecisionProba" AS "DecisionProba", score_soft_max_deltas."KEY_m" AS "KEY_m", score_soft_max_deltas."max_Score" AS "max_Score", score_soft_max_deltas."exp_delta_Score_setosa" AS "exp_delta_Score_setosa", score_soft_max_deltas."exp_delta_Score_versicolor" AS "exp_delta_Score_versicolor", score_soft_max_deltas."exp_delta_Score_virginica" AS "exp_delta_Score_virginica", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpDeltaScore" AS "sum_ExpDeltaScore"
FROM score_soft_max_deltas LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_delta_Score") AS "sum_ExpDeltaScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_deltas."KEY" = sum_exp_t."KEY_sum"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_soft_max."KEY" AS "KEY", score_soft_max."Score_setosa" AS "Score_setosa", score_soft_max."Score_versicolor" AS "Score_versicolor", score_soft_max."Score_virginica" AS "Score_virginica", score_soft_max."Proba_setosa" AS "Proba_setosa", score_soft_max."Proba_versicolor" AS "Proba_versicolor", score_soft_max."Proba_virginica" AS "Proba_virginica", score_soft_max."LogProba_setosa" AS "LogProba_setosa", score_soft_max."LogProba_versicolor" AS "LogProba_versicolor", score_soft_max."LogProba_virginica" AS "LogProba_virginica", score_soft_max."Decision" AS "Decision", score_soft_max."DecisionProba" AS "DecisionProba", score_soft_max."KEY_m" AS "KEY_m", score_soft_max."max_Score" AS "max_Score", score_soft_max."exp_delta_Score_setosa" AS "exp_delta_Score_setosa", score_soft_max."exp_delta_Score_versicolor" AS "exp_delta_Score_versicolor", score_soft_max."exp_delta_Score_virginica" AS "exp_delta_Score_virginica", score_soft_max."KEY_sum" AS "KEY_sum", score_soft_max."sum_ExpDeltaScore" AS "sum_ExpDeltaScore"
FROM score_class_union LEFT OUTER JOIN score_soft_max ON score_class_union."KEY_u" = score_soft_max."KEY"),
arg_max_cte AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."Score_setosa" AS "Score_setosa", score_soft_max."Score_versicolor" AS "Score_versicolor", score_soft_max."Score_virginica" AS "Score_virginica", score_soft_max."Proba_setosa" AS "Proba_setosa", score_soft_max."Proba_versicolor" AS "Proba_versicolor", score_soft_max."Proba_virginica" AS "Proba_virginica", score_soft_max."LogProba_setosa" AS "LogProba_setosa", score_soft_max."LogProba_versicolor" AS "LogProba_versicolor", score_soft_max."LogProba_virginica" AS "LogProba_virginica", score_soft_max."Decision" AS "Decision", score_soft_max."DecisionProba" AS "DecisionProba", score_soft_max."KEY_m" AS "KEY_m", score_soft_max."max_Score" AS "max_Score", score_soft_max."exp_delta_Score_setosa" AS "exp_delta_Score_setosa", score_soft_max."exp_delta_Score_versicolor" AS "exp_delta_Score_versicolor", score_soft_max."exp_delta_Score_virginica" AS "exp_delta_Score_virginica", score_soft_max."KEY_sum" AS "KEY_sum", score_soft_max."sum_ExpDeltaScore" AS "sum_ExpDeltaScore", "arg_max_t_Score"."KEY_Score" AS "KEY_Score", "arg_max_t_Score"."arg_max_Score" AS "arg_max_Score", soft_max_comp."KEY_softmax" AS "KEY_softmax", soft_max_comp."SoftProba_setosa" AS "SoftProba_setosa", soft_max_comp."SoftProba_versicolor" AS "SoftProba_versicolor", soft_max_comp."SoftProba_virginica" AS "SoftProba_virginica"
FROM score_soft_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Score", max(union_with_max.class) AS "arg_max_Score"
FROM union_with_max
WHERE union_with_max."max_Score" <= union_with_max."Score" GROUP BY union_with_max."KEY") AS "arg_max_t_Score" ON score_soft_max."KEY" = "arg_max_t_Score"."KEY_Score" LEFT OUTER JOIN (SELECT score_soft_max."KEY" AS "KEY_softmax", score_soft_max."exp_delta_Score_setosa" / score_soft_max."sum_ExpDeltaScore" AS "SoftProba_setosa", score_soft_max."exp_delta_Score_versicolor" / score_soft_max."sum_ExpDeltaScore" AS "SoftProba_versicolor", score_soft_max."exp_delta_Score_virginica" / score_soft_max."sum_ExpDeltaScore" AS "SoftProba_virginica"
FROM score_soft_max) AS soft_max_comp ON soft_max_comp."KEY_softmax" = "arg_max_t_Score"."KEY_Score")
 SELECT arg_max_cte."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_setosa", CAST(NULL AS FLOAT) AS "Score_versicolor", CAST(NULL AS FLOAT) AS "Score_virginica", arg_max_cte."SoftProba_setosa" AS "Proba_setosa", arg_max_cte."SoftProba_versicolor" AS "Proba_versicolor", arg_max_cte."SoftProba_virginica" AS "Proba_virginica", CASE WHEN (arg_max_cte."SoftProba_setosa" IS NULL OR arg_max_cte."SoftProba_setosa" > 0.0) THEN ln(arg_max_cte."SoftProba_setosa") ELSE -1.79769313486231e+308 END AS "LogProba_setosa", CASE WHEN (arg_max_cte."SoftProba_versicolor" IS NULL OR arg_max_cte."SoftProba_versicolor" > 0.0) THEN ln(arg_max_cte."SoftProba_versicolor") ELSE -1.79769313486231e+308 END AS "LogProba_versicolor", CASE WHEN (arg_max_cte."SoftProba_virginica" IS NULL OR arg_max_cte."SoftProba_virginica" > 0.0) THEN ln(arg_max_cte."SoftProba_virginica") ELSE -1.79769313486231e+308 END AS "LogProba_virginica", arg_max_cte."arg_max_Score" AS "Decision", greatest(arg_max_cte."SoftProba_setosa", arg_max_cte."SoftProba_versicolor", arg_max_cte."SoftProba_virginica") AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [7]:
library(RODBC)
conn = odbcConnect("pgsql", uid="db", pwd="db", case="nochange")
odbcSetAutoCommit(conn , autoCommit = TRUE)

[1] 0

In [8]:
dataset = iris[,-5]

df_sql = as.data.frame(dataset)
names(df_sql) = sprintf("Feature_%d",0:(ncol(df_sql)-1))
df_sql$KEY = seq.int(nrow(dataset))

sqlDrop(conn , "INPUT_DATA" , errors = FALSE)
sqlSave(conn, df_sql, tablename = "INPUT_DATA", verbose = FALSE)

head(df_sql)

  Feature_0 Feature_1 Feature_2 Feature_3 KEY
1 5.1       3.5       1.4       0.2       1
2 4.9       3.0       1.4       0.2       2
3 4.7       3.2       1.3       0.2       3
4 4.6       3.1       1.5       0.2       4
5 5.0       3.6       1.4       0.2       5
6 5.4       3.9       1.7       0.4       6

In [9]:
# colnames(df_sql)
# odbcGetInfo(conn)
# sqlTables(conn)

In [10]:
df_sql_out = sqlQuery(conn, lModelSQL)
head(df_sql_out)

  KEY Score_setosa Score_versicolor Score_virginica Proba_setosa
1 116 NA           NA               NA              3.720074e-44
2  87 NA           NA               NA              2.965568e-44
3  71 NA           NA               NA              3.121382e-44
4  68 NA           NA               NA              3.720001e-44
5  51 NA           NA               NA              2.983000e-44
6 146 NA           NA               NA              3.720073e-44
  Proba_versicolor Proba_virginica LogProba_setosa LogProba_versicolor
1 6.128385e-07     9.999994e-01    -100.0000       -1.430516e+01
2 7.971795e-01     2.028205e-01    -100.2267       -2.266754e-01
3 1.609361e-01     8.390639e-01    -100.1755       -1.826748e+00
4 9.999799e-01     2.007314e-05    -100.0000       -2.007334e-05
5 8.018653e-01     1.981347e-01    -100.2208       -2.208147e-01
6 7.915543e-07     9.999992e-01    -100.0000       -1.404927e+01
  LogProba_virginica Decision   DecisionProba
1 -6.128387e-07      virginica  0.9999994
2 -1.595434e+00      versicolor 0.7971795
3 -1.754684e-01      virginica  0.8390639
4 -1.081613e+01      versicolor 0.9999799
5 -1.618808e+00      versicolor 0.8018653
6 -7.915546e-07      virginica  0.9999992

# R Caret Rpart Output

In [11]:
pred_proba  =  predict(model, as.matrix(iris[,-5]), type = "prob")
df_r_out = data.frame(pred_proba)
names(df_r_out) = sprintf("Proba_%s",model$levels)

df_r_out$KEY = seq.int(nrow(dataset))
df_r_out$Score_setosa  =  NA
df_r_out$Score_versicolor  =  NA
df_r_out$Score_virginica  =  NA
df_r_out$LogProba_setosa  =  log(df_r_out$Proba_setosa)
df_r_out$LogProba_versicolor =  log(df_r_out$Proba_versicolor)
df_r_out$LogProba_virginica  =  log(df_r_out$Proba_virginica)
df_r_out$Decision =   predict(model, as.matrix(iris[,-5]), type = "raw")
df_r_out$DecisionProba =  apply(pred_proba, 1, function(x) max(x))
head(df_r_out)

  Proba_setosa Proba_versicolor Proba_virginica KEY Score_setosa
1 1            2.981309e-18     2.152373e-25    1   NA
2 1            3.169312e-17     6.938030e-25    2   NA
3 1            2.367113e-18     7.240956e-26    3   NA
4 1            3.069606e-17     8.690636e-25    4   NA
5 1            1.017337e-18     8.885794e-26    5   NA
6 1            2.717732e-14     4.344285e-21    6   NA
  Score_versicolor Score_virginica LogProba_setosa LogProba_versicolor
1 NA               NA               0.000000e+00   -40.35417
2 NA               NA               0.000000e+00   -37.99043
3 NA               NA               0.000000e+00   -40.58486
4 NA               NA               0.000000e+00   -38.02240
5 NA               NA               0.000000e+00   -41.42934
6 NA               NA              -2.720046e-14   -31.23639
  LogProba_virginica Decision DecisionProba
1 -56.79806          setosa   1
2 -55.62761          setosa   1
3 -57.88746          setosa   1
4 -55.40238          setosa   1
5 -57.68276          setosa   1
6 -46.88543          setosa   1

# Compare R and SQL output

In [12]:
df_merge = merge(x = df_r_out, y = df_sql_out, by = "KEY", all = TRUE, , suffixes = c("_1","_2"))
head(df_merge)

  KEY Proba_setosa_1 Proba_versicolor_1 Proba_virginica_1 Score_setosa_1
1 1   1              2.981309e-18       2.152373e-25      NA
2 2   1              3.169312e-17       6.938030e-25      NA
3 3   1              2.367113e-18       7.240956e-26      NA
4 4   1              3.069606e-17       8.690636e-25      NA
5 5   1              1.017337e-18       8.885794e-26      NA
6 6   1              2.717732e-14       4.344285e-21      NA
  Score_versicolor_1 Score_virginica_1 LogProba_setosa_1 LogProba_versicolor_1
1 NA                 NA                 0.000000e+00     -40.35417
2 NA                 NA                 0.000000e+00     -37.99043
3 NA                 NA                 0.000000e+00     -40.58486
4 NA                 NA                 0.000000e+00     -38.02240
5 NA                 NA                 0.000000e+00     -41.42934
6 NA                 NA                -2.720046e-14     -31.23639
  LogProba_virginica_1 ⋯ Score_versicolor_2 Score_virginica_2 Proba_setosa_2
1 -56.79806            ⋯ NA                 NA                1
2 -55.62761            ⋯ NA                 NA                1
3 -57.88746            ⋯ NA                 NA                1
4 -55.40238            ⋯ NA                 NA                1
5 -57.68276            ⋯ NA                 NA                1
6 -46.88543            ⋯ NA                 NA                1
  Proba_versicolor_2 Proba_virginica_2 LogProba_setosa_2 LogProba_versicolor_2
1 2.981309e-18       2.152373e-25       0.000000e+00     -40.35417
2 3.169312e-17       6.938030e-25       0.000000e+00     -37.99043
3 2.367113e-18       7.240956e-26       0.000000e+00     -40.58486
4 3.069606e-17       8.690636e-25       0.000000e+00     -38.02240
5 1.017337e-18       8.885794e-26       0.000000e+00     -41.42934
6 2.717732e-14       4.344285e-21      -2.708944e-14     -31.23639
  LogProba_virginica_2 Decision_2 DecisionProba_2
1 -56.79806            setosa     1
2 -55.62761            setosa     1
3 -57.88746            setosa     1
4 -55.40238            setosa     1
5 -57.68276            setosa     1
6 -46.88543            setosa     1

In [13]:
diffs_df = df_merge[df_merge$Decision_1 != df_merge$Decision_2,]
head(diffs_df)

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     KEY Proba_setosa_1 Proba_versicolor_1 Proba_virginica_1 Score_setosa_1
     Score_versicolor_1 Score_virginica_1 LogProba_setosa_1
     LogProba_versicolor_1 LogProba_virginica_1 ⋯ Score_versicolor_2
     Score_virginica_2 Proba_setosa_2 Proba_versicolor_2 Proba_virginica_2
     LogProba_setosa_2 LogProba_versicolor_2 LogProba_virginica_2 Decision_2
     DecisionProba_2

In [14]:
stopifnot(nrow(diffs_df) == 0)

In [15]:
summary(df_sql_out)

      KEY         Score_setosa   Score_versicolor Score_virginica
 Min.   :  1.00   Mode:logical   Mode:logical     Mode:logical
 1st Qu.: 38.25   NA's:150       NA's:150         NA's:150
 Median : 75.50
 Mean   : 75.50
 3rd Qu.:112.75
 Max.   :150.00
  Proba_setosa    Proba_versicolor    Proba_virginica    LogProba_setosa
 Min.   :0.0000   Min.   :0.0000000   Min.   :0.000000   Min.   :-100.67
 1st Qu.:0.0000   1st Qu.:0.0000000   1st Qu.:0.000000   1st Qu.:-100.00
 Median :0.0000   Median :0.0000065   Median :0.001069   Median :-100.00
 Mean   :0.3333   Mean   :0.3334777   Mean   :0.333189   Mean   : -66.09
 3rd Qu.:1.0000   3rd Qu.:0.9770662   3rd Qu.:0.981799   3rd Qu.:   0.00
 Max.   :1.0000   Max.   :0.9999997   Max.   :1.000000   Max.   :   0.00
 LogProba_versicolor LogProba_virginica        Decision  DecisionProba
 Min.   :-45.57603   Min.   :-61.02874   setosa    :50   Min.   :0.5099
 1st Qu.:-35.34214   1st Qu.:-52.62177   versicolor:50   1st Qu.:0.9977
 Median :-11.94457   Median : -6.84295   virginica :50   Median :1.0000
 Mean   :-16.35020   Mean   :-20.42810                   Mean   :0.9731
 3rd Qu.: -0.02321   3rd Qu.: -0.01838                   3rd Qu.:1.0000
 Max.   :  0.00000   Max.   :  0.00000                   Max.   :1.0000

In [16]:
summary(df_r_out)

  Proba_setosa    Proba_versicolor    Proba_virginica         KEY
 Min.   :0.0000   Min.   :0.0000000   Min.   :0.000000   Min.   :  1.00
 1st Qu.:0.0000   1st Qu.:0.0000000   1st Qu.:0.000000   1st Qu.: 38.25
 Median :0.0000   Median :0.0000065   Median :0.001069   Median : 75.50
 Mean   :0.3333   Mean   :0.3334777   Mean   :0.333189   Mean   : 75.50
 3rd Qu.:1.0000   3rd Qu.:0.9770662   3rd Qu.:0.981799   3rd Qu.:112.75
 Max.   :1.0000   Max.   :0.9999997   Max.   :1.000000   Max.   :150.00
 Score_setosa   Score_versicolor Score_virginica LogProba_setosa
 Mode:logical   Mode:logical     Mode:logical    Min.   :-703.6
 NA's:150       NA's:150         NA's:150        1st Qu.:-344.9
                                                 Median :-193.2
                                                 Mean   :-209.0
                                                 3rd Qu.:   0.0
                                                 Max.   :   0.0
 LogProba_versicolor LogProba_virginica        Decision  DecisionProba
 Min.   :-45.57603   Min.   :-61.02874   setosa    :50   Min.   :0.5099
 1st Qu.:-35.34214   1st Qu.:-52.62177   versicolor:50   1st Qu.:0.9977
 Median :-11.94457   Median : -6.84295   virginica :50   Median :1.0000
 Mean   :-16.35020   Mean   :-20.42810                   Mean   :0.9731
 3rd Qu.: -0.02321   3rd Qu.: -0.01838                   3rd Qu.:1.0000
 Max.   :  0.00000   Max.   :  0.00000                   Max.   :1.0000