In [1]:
library(caret, quiet = TRUE)
library(base64enc)
library(httr, quiet = TRUE)

library(mlbench)

Attaching package: ‘httr’

The following object is masked from ‘package:caret’:

    progress

# Build a Model

In [2]:

## multiclass classification in iris dataset:

data(BostonHousing)
BostonHousing$chas = as.numeric(BostonHousing$chas)

set.seed(1960)

dataset = BostonHousing[, -14] 

create_model  =  function() {

    model <- train(medv ~ ., data = BostonHousing, method = "ctree")    

    return(model)
}

In [3]:
model = create_model()
# cat(model$feature_names)
# print(model)

In [4]:
pred_labels <- predict(model, BostonHousing[, -14] , type="raw")
df = data.frame(BostonHousing[,14])
names(df) = c("medv")
df$Estimator = pred_labels
df$Error = df$Estimator - df$medv
MAPE = mean(abs(df$Error / df$medv))
summary(df)
MAPE

      medv         Estimator          Error
 Min.   : 5.00   Min.   : 8.039   Min.   :-11.28571
 1st Qu.:17.02   1st Qu.:16.700   1st Qu.: -1.58643
 Median :21.20   Median :20.816   Median :  0.06795
 Mean   :22.53   Mean   :22.533   Mean   :  0.00000
 3rd Qu.:25.00   3rd Qu.:25.118   3rd Qu.:  1.31250
 Max.   :50.00   Max.   :48.300   Max.   : 18.97143

[1] 0.1023425

# SQL Code Generation

In [5]:

test_ws_sql_gen = function(mod) {
    WS_URL = "https://sklearn2sql.herokuapp.com/model"
    WS_URL = "http://localhost:1888/model"
    model_serialized <- serialize(mod, NULL)
    b64_data = base64encode(model_serialized)
    data = list(Name = "xgboost_test_model", SerializedModel = b64_data , SQLDialect = "postgresql" , Mode="caret")
    r = POST(WS_URL, body = data, encode = "json")
    # print(r)
    content = content(r)
    # print(content)
    lSQL = content$model$SQLGenrationResult[[1]]$SQL # content["model"]["SQLGenrationResult"][0]["SQL"]
    return(lSQL);
}

In [6]:
lModelSQL = test_ws_sql_gen(model)
cat(lModelSQL)

WITH "DT_node_lookup" AS
(SELECT "ADS"."KEY" AS "KEY", CASE WHEN ("ADS"."Feature_12" <= 9.71) THEN CASE WHEN ("ADS"."Feature_5" <= 7.42) THEN CASE WHEN ("ADS"."Feature_0" <= 4.55587) THEN CASE WHEN ("ADS"."Feature_5" <= 6.718) THEN CASE WHEN ("ADS"."Feature_12" <= 7.6) THEN CASE WHEN ("ADS"."Feature_7" <= 6.2196) THEN CASE WHEN ("ADS"."Feature_12" <= 5.68) THEN 8 ELSE CASE WHEN ("ADS"."Feature_8" <= 4.0) THEN 10 ELSE 11 END END ELSE CASE WHEN ("ADS"."Feature_5" <= 6.345) THEN 13 ELSE 14 END END ELSE CASE WHEN ("ADS"."Feature_5" <= 6.12) THEN CASE WHEN ("ADS"."Feature_10" <= 19.1) THEN 17 ELSE 18 END ELSE CASE WHEN ("ADS"."Feature_9" <= 293.0) THEN 20 ELSE 21 END END END ELSE CASE WHEN ("ADS"."Feature_5" <= 6.939) THEN CASE WHEN ("ADS"."Feature_10" <= 17.6) THEN 24 ELSE 25 END ELSE CASE WHEN ("ADS"."Feature_0" <= 0.0686) THEN CASE WHEN ("ADS"."Feature_6" <= 49.3) THEN 28 ELSE 29 END ELSE 30 END END END ELSE 31 END ELSE CASE WHEN ("ADS"."Feature_10" <= 17.4) THEN CASE WHEN ("ADS"."Feature_10" <= 14.7) THEN 34 ELSE 35 END ELSE 36 END END ELSE CASE WHEN ("ADS"."Feature_12" <= 16.03) THEN CASE WHEN ("ADS"."Feature_11" <= 100.63) THEN 39 ELSE CASE WHEN ("ADS"."Feature_10" <= 17.8) THEN CASE WHEN ("ADS"."Feature_5" <= 6.129) THEN CASE WHEN ("ADS"."Feature_9" <= 311.0) THEN 43 ELSE 44 END ELSE 45 END ELSE CASE WHEN ("ADS"."Feature_12" <= 14.37) THEN CASE WHEN ("ADS"."Feature_8" <= 8.0) THEN CASE WHEN ("ADS"."Feature_5" <= 5.794) THEN 49 ELSE CASE WHEN ("ADS"."Feature_6" <= 45.1) THEN 51 ELSE CASE WHEN ("ADS"."Feature_5" <= 6.096) THEN 53 ELSE 54 END END END ELSE CASE WHEN ("ADS"."Feature_12" <= 12.67) THEN 56 ELSE 57 END END ELSE CASE WHEN ("ADS"."Feature_6" <= 88.4) THEN 59 ELSE 60 END END END END ELSE CASE WHEN ("ADS"."Feature_9" <= 437.0) THEN CASE WHEN ("ADS"."Feature_0" <= 0.55778) THEN CASE WHEN ("ADS"."Feature_6" <= 92.9) THEN 64 ELSE 65 END ELSE CASE WHEN ("ADS"."Feature_9" <= 307.0) THEN 67 ELSE 68 END END ELSE CASE WHEN ("ADS"."Feature_12" <= 19.78) THEN CASE WHEN ("ADS"."Feature_0" <= 5.66637) THEN 71 ELSE CASE WHEN ("ADS"."Feature_5" <= 6.471) THEN 73 ELSE 74 END END ELSE CASE WHEN ("ADS"."Feature_4" <= 0.671) THEN 76 ELSE CASE WHEN ("ADS"."Feature_0" <= 12.8023) THEN 78 ELSE 79 END END END END END END AS node_id_2
FROM "INPUT_DATA" AS "ADS"),
"DT_node_data" AS
(SELECT "Values".nid AS nid, "Values"."E" AS "E"
FROM (SELECT 8 AS nid, 27.7615384615385 AS "E" UNION ALL SELECT 10 AS nid, 25.1176470588235 AS "E" UNION ALL SELECT 11 AS nid, 24.592307692307703 AS "E" UNION ALL SELECT 13 AS nid, 22.43 AS "E" UNION ALL SELECT 14 AS nid, 24.145454545454502 AS "E" UNION ALL SELECT 17 AS nid, 21.2818181818182 AS "E" UNION ALL SELECT 18 AS nid, 19.275 AS "E" UNION ALL SELECT 20 AS nid, 25.14 AS "E" UNION ALL SELECT 21 AS nid, 22.641666666666698 AS "E" UNION ALL SELECT 24 AS nid, 30.9214285714286 AS "E" UNION ALL SELECT 25 AS nid, 26.544444444444398 AS "E" UNION ALL SELECT 28 AS nid, 33.4692307692308 AS "E" UNION ALL SELECT 29 AS nid, 30.6142857142857 AS "E" UNION ALL SELECT 30 AS nid, 34.338888888888896 AS "E" UNION ALL SELECT 31 AS nid, 42.6714285714286 AS "E" UNION ALL SELECT 34 AS nid, 48.3 AS "E" UNION ALL SELECT 35 AS nid, 44.9444444444444 AS "E" UNION ALL SELECT 36 AS nid, 38.8857142857143 AS "E" UNION ALL SELECT 39 AS nid, 14.0142857142857 AS "E" UNION ALL SELECT 43 AS nid, 21.966666666666697 AS "E" UNION ALL SELECT 44 AS nid, 19.79375 AS "E" UNION ALL SELECT 45 AS nid, 24.55 AS "E" UNION ALL SELECT 49 AS nid, 18.525 AS "E" UNION ALL SELECT 51 AS nid, 22.425 AS "E" UNION ALL SELECT 53 AS nid, 19.105882352941197 AS "E" UNION ALL SELECT 54 AS nid, 20.815789473684198 AS "E" UNION ALL SELECT 56 AS nid, 23.06 AS "E" UNION ALL SELECT 57 AS nid, 20.615384615384603 AS "E" UNION ALL SELECT 59 AS nid, 19.8909090909091 AS "E" UNION ALL SELECT 60 AS nid, 16.7 AS "E" UNION ALL SELECT 64 AS nid, 20.1133333333333 AS "E" UNION ALL SELECT 65 AS nid, 17.723529411764698 AS "E" UNION ALL SELECT 67 AS nid, 14.01 AS "E" UNION ALL SELECT 68 AS nid, 14.6166666666667 AS "E" UNION ALL SELECT 71 AS nid, 16.5230769230769 AS "E" UNION ALL SELECT 73 AS nid, 13.8368421052632 AS "E" UNION ALL SELECT 74 AS nid, 16.2142857142857 AS "E" UNION ALL SELECT 76 AS nid, 13.466666666666699 AS "E" UNION ALL SELECT 78 AS nid, 10.46 AS "E" UNION ALL SELECT 79 AS nid, 8.03888888888889 AS "E") AS "Values"),
"DT_Output" AS
(SELECT "DT_node_lookup"."KEY" AS "KEY", "DT_node_lookup".node_id_2 AS node_id_2, "DT_node_data".nid AS nid, "DT_node_data"."E" AS "E"
FROM "DT_node_lookup" LEFT OUTER JOIN "DT_node_data" ON "DT_node_lookup".node_id_2 = "DT_node_data".nid)
 SELECT "DT_Output"."KEY" AS "KEY", "DT_Output"."E" AS "Estimator"
FROM "DT_Output"

# Execute the SQL Code

In [7]:
library(RODBC)
conn = odbcConnect("pgsql", uid="db", pwd="db", case="nochange")
odbcSetAutoCommit(conn , autoCommit = TRUE)

[1] 0

In [8]:
df_sql = dataset
names(df_sql) = sprintf("Feature_%d",0:(ncol(df_sql)-1))
df_sql$KEY = seq.int(nrow(dataset))

sqlDrop(conn , "INPUT_DATA" , errors = FALSE)
sqlSave(conn, df_sql, tablename = "INPUT_DATA", verbose = FALSE)

# df_sql

In [9]:
colnames(df_sql)
# odbcGetInfo(conn)
# sqlTables(conn)

 [1] "Feature_0"  "Feature_1"  "Feature_2"  "Feature_3"  "Feature_4"
 [6] "Feature_5"  "Feature_6"  "Feature_7"  "Feature_8"  "Feature_9"
[11] "Feature_10" "Feature_11" "Feature_12" "KEY"

In [10]:
df_sql_out = sqlQuery(conn, lModelSQL)
head(df_sql_out[order(df_sql_out$KEY),])

  KEY Estimator
1 1   27.76154
2 2   25.14000
3 3   30.61429
4 4   33.46923
5 5   34.33889
6 6   27.76154

In [11]:
# df_sql_out

# R RPART Output

In [12]:
estimator  =  predict(model, dataset, type = "raw")
df_r_out = data.frame(estimator)
names(df_r_out) = c("Estimator")

df_r_out$KEY = seq.int(nrow(dataset))
head(df_r_out)

  Estimator KEY
1 27.76154  1
2 25.14000  2
3 30.61429  3
4 33.46923  4
5 34.33889  5
6 27.76154  6

# Compare R and SQL output

In [13]:
df_merge = merge(x = df_r_out, y = df_sql_out, by = "KEY", all = TRUE, , suffixes = c("_1","_2"))
head(df_merge)

  KEY Estimator_1 Estimator_2
1 1   27.76154    27.76154
2 2   25.14000    25.14000
3 3   30.61429    30.61429
4 4   33.46923    33.46923
5 5   34.33889    34.33889
6 6   27.76154    27.76154

In [14]:
df_merge$Error = df_merge$Estimator_1 - df_merge$Estimator_2
df_merge$AbsError = abs(df_merge$Error)
head(df_merge)

  KEY Estimator_1 Estimator_2 Error         AbsError
1 1   27.76154    27.76154    -3.552714e-14 3.552714e-14
2 2   25.14000    25.14000    -3.552714e-15 3.552714e-15
3 3   30.61429    30.61429     2.131628e-14 2.131628e-14
4 4   33.46923    33.46923    -2.842171e-14 2.842171e-14
5 5   34.33889    34.33889    -7.105427e-15 7.105427e-15
6 6   27.76154    27.76154    -3.552714e-14 3.552714e-14

In [15]:
df_merge_largest_errors = df_merge[df_merge$AbsError > 0.0001,]
df_merge_largest_errors

     KEY Estimator_1 Estimator_2 Error AbsError

In [16]:
nrow(df_merge_largest_errors)
stopifnot(nrow(df_merge_largest_errors) == 0)

[1] 0

In [17]:
summary(df_sql_out)

      KEY          Estimator
 Min.   :  1.0   Min.   : 8.039
 1st Qu.:127.2   1st Qu.:16.700
 Median :253.5   Median :20.816
 Mean   :253.5   Mean   :22.533
 3rd Qu.:379.8   3rd Qu.:25.118
 Max.   :506.0   Max.   :48.300

In [18]:
summary(df_r_out)

   Estimator           KEY
 Min.   : 8.039   Min.   :  1.0
 1st Qu.:16.700   1st Qu.:127.2
 Median :20.816   Median :253.5
 Mean   :22.533   Mean   :253.5
 3rd Qu.:25.118   3rd Qu.:379.8
 Max.   :48.300   Max.   :506.0

In [19]:
summary(df_merge)

      KEY         Estimator_1      Estimator_2         Error
 Min.   :  1.0   Min.   : 8.039   Min.   : 8.039   Min.   :-4.263e-14
 1st Qu.:127.2   1st Qu.:16.700   1st Qu.:16.700   1st Qu.:-2.132e-14
 Median :253.5   Median :20.816   Median :20.816   Median :-3.553e-15
 Mean   :253.5   Mean   :22.533   Mean   :22.533   Mean   :-2.422e-15
 3rd Qu.:379.8   3rd Qu.:25.118   3rd Qu.:25.118   3rd Qu.: 1.243e-14
 Max.   :506.0   Max.   :48.300   Max.   :48.300   Max.   : 4.619e-14
    AbsError
 Min.   :0.000e+00
 1st Qu.:3.553e-15
 Median :1.421e-14
 Mean   :1.743e-14
 3rd Qu.:2.842e-14
 Max.   :4.619e-14

In [20]:
model$finalModel

	 Conditional inference tree with 40 terminal nodes

Response:  .outcome
Inputs:  crim, zn, indus, chas, nox, rm, age, dis, rad, tax, ptratio, b, lstat
Number of observations:  506

1) lstat <= 9.71; criterion = 1, statistic = 274.794
  2) rm <= 7.42; criterion = 1, statistic = 104.692
    3) crim <= 4.55587; criterion = 1, statistic = 39.897
      4) rm <= 6.718; criterion = 1, statistic = 84.26
        5) lstat <= 7.6; criterion = 0.998, statistic = 14.073
          6) dis <= 6.2196; criterion = 0.984, statistic = 10.39
            7) lstat <= 5.68; criterion = 0.939, statistic = 7.939
              8)*  weights = 13
            7) lstat > 5.68
              9) rad <= 4; criterion = 0.027, statistic = 1.366
                10)*  weights = 17
              9) rad > 4
                11)*  weights = 13
          6) dis > 6.2196
            12) rm <= 6.345; criterion = 0.956, statistic = 8.564
              13)*  weights = 10
            12) rm > 6.345
              14)*  weights = 11
        5) lstat > 7.6
          15) rm <= 6.12; criterion = 0.983, statistic = 10.282
            16) ptratio <= 19.1; criterion = 0.565, statistic = 4.096
              17)*  weights = 11
            16) ptratio > 19.1
              18)*  weights = 12
          15) rm > 6.12
            19) tax <= 293; criterion = 0.306, statistic = 2.929
              20)*  weights = 15
            19) tax > 293
              21)*  weights = 12
      4) rm > 6.718
        22) rm <= 6.939; criterion = 0.997, statistic = 13.433
          23) ptratio <= 17.6; criterion = 0.917, statistic = 7.362
            24)*  weights = 14
          23) ptratio > 17.6
            25)*  weights = 9
        22) rm > 6.939
          26) crim <= 0.0686; criterion = 0.198, statistic = 2.456
            27) age <= 49.3; criterion = 0.72, statistic = 5.024
              28)*  weights = 13
            27) age > 49.3
              29)*  weights = 7
          26) crim > 0.0686
            30)*  weights = 18
    3) crim > 4.55587
      31)*  weights = 7
  2) rm > 7.42
    32) ptratio <= 17.4; criterion = 0.989, statistic = 11.141
      33) ptratio <= 14.7; criterion = 0.224, statistic = 2.571
        34)*  weights = 14
      33) ptratio > 14.7
        35)*  weights = 9
    32) ptratio > 17.4
      36)*  weights = 7
1) lstat > 9.71
  37) lstat <= 16.03; criterion = 1, statistic = 127.792
    38) b <= 100.63; criterion = 1, statistic = 19.678
      39)*  weights = 7
    38) b > 100.63
      40) ptratio <= 17.8; criterion = 0.997, statistic = 13.693
        41) rm <= 6.129; criterion = 0.999, statistic = 15.109
          42) tax <= 311; criterion = 0.872, statistic = 6.545
            43)*  weights = 15
          42) tax > 311
            44)*  weights = 16
        41) rm > 6.129
          45)*  weights = 12
      40) ptratio > 17.8
        46) lstat <= 14.37; criterion = 0.952, statistic = 8.382
          47) rad <= 8; criterion = 0.905, statistic = 7.123
            48) rm <= 5.794; criterion = 0.879, statistic = 6.661
              49)*  weights = 12
            48) rm > 5.794
              50) age <= 45.1; criterion = 0.942, statistic = 8.027
                51)*  weights = 8
              50) age > 45.1
                52) rm <= 6.096; criterion = 0.308, statistic = 2.935
                  53)*  weights = 17
                52) rm > 6.096
                  54)*  weights = 19
          47) rad > 8
            55) lstat <= 12.67; criterion = 0.01, statistic = 1.086
              56)*  weights = 10
            55) lstat > 12.67
              57)*  weights = 13
        46) lstat > 14.37
          58) age <= 88.4; criterion = 0.939, statistic = 7.942
            59)*  weights = 11
          58) age > 88.4
            60)*  weights = 10
  37) lstat > 16.03
    61) tax <= 437; criterion = 1, statistic = 36.614
      62) crim <= 0.55778; criterion = 0.999, statistic = 15.63
        63) age <= 92.9; criterion = 0.838, statistic = 6.106
          64)*  weights = 15
        63) age > 92.9
          65)*  weights = 17
      62) crim > 0.55778
        66) tax <= 307; criterion = 0.016, statistic = 1.202
          67)*  weights = 10
        66) tax > 307
          68)*  weights = 12
    61) tax > 437
      69) lstat <= 19.78; criterion = 1, statistic = 20.69
        70) crim <= 5.66637; criterion = 0.261, statistic = 2.736
          71)*  weights = 13
        70) crim > 5.66637
          72) rm <= 6.471; criterion = 0.231, statistic = 2.603
            73)*  weights = 19
          72) rm > 6.471
            74)*  weights = 7
      69) lstat > 19.78
        75) nox <= 0.671; criterion = 0.995, statistic = 12.776
          76)*  weights = 18
        75) nox > 0.671
          77) crim <= 12.8023; criterion = 0.906, statistic = 7.14
            78)*  weights = 15
          77) crim > 12.8023
            79)*  weights = 18