In [1]:
library(caret, quiet=TRUE);
library(base64enc)
library(httr, quiet=TRUE)

Attaching package: ‘httr’

The following object is masked from ‘package:caret’:

    progress

# Build a Model

In [2]:
set.seed(1960)

create_model  =  function() {

    model  <- train(Species ~ ., data = iris, method = "nnet", trace = FALSE)
    
    return(model)
}

In [3]:
# dataset
model = create_model()

In [4]:
pred <- predict(model, as.matrix(iris[, -5]) , type="prob")
pred_labels <- predict(model, as.matrix(iris[, -5]) , type="raw")
sum(pred_labels != iris$Species)/length(pred_labels)

[1] 0.02666667

# SQL Code Generation

In [5]:

test_ws_sql_gen = function(mod) {
    WS_URL = "https://sklearn2sql.herokuapp.com/model"
    WS_URL = "http://localhost:1888/model"
    model_serialized <- serialize(mod, NULL)
    b64_data = base64encode(model_serialized)
    data = list(Name = "caret_nnet_test_model", SerializedModel = b64_data , SQLDialect = "postgresql" , Mode="caret")
    r = POST(WS_URL, body = data, encode = "json")
    # print(r)
    content = content(r)
    # print(content)
    lSQL = content$model$SQLGenrationResult[[1]]$SQL # content["model"]["SQLGenrationResult"][0]["SQL"]
    return(lSQL);
}

In [6]:
lModelSQL = test_ws_sql_gen(model)
cat(lModelSQL)

WITH "IL" AS
(SELECT "ADS"."KEY" AS "KEY", CAST("ADS"."Feature_0" AS FLOAT) AS "Feature_0", CAST("ADS"."Feature_1" AS FLOAT) AS "Feature_1", CAST("ADS"."Feature_2" AS FLOAT) AS "Feature_2", CAST("ADS"."Feature_3" AS FLOAT) AS "Feature_3"
FROM "INPUT_DATA" AS "ADS"),
"HL_BA_1" AS
(SELECT "IL"."KEY" AS "KEY", 1.576477 * "IL"."Feature_0" + 1.740795 * "IL"."Feature_1" + -2.555659 * "IL"."Feature_2" + -3.257832 * "IL"."Feature_3" + 2.94493 AS "NEUR_1_1", 0.3633052 * "IL"."Feature_0" + 1.213003 * "IL"."Feature_1" + -1.974031 * "IL"."Feature_2" + -0.8775904 * "IL"."Feature_3" + 0.2182532 AS "NEUR_1_2", -0.3089975 * "IL"."Feature_0" + -0.9833805 * "IL"."Feature_1" + 1.421223 * "IL"."Feature_2" + 0.729276 * "IL"."Feature_3" + -0.2177701 AS "NEUR_1_3"
FROM "IL"),
"HL_1_logistic" AS
(SELECT "HL_BA_1"."KEY" AS "KEY", 1.0 / (1.0 + exp(least(greatest(-100.0, -"HL_BA_1"."NEUR_1_1"), 100.0))) AS "NEUR_1_1", 1.0 / (1.0 + exp(least(greatest(-100.0, -"HL_BA_1"."NEUR_1_2"), 100.0))) AS "NEUR_1_2", 1.0 / (1.0 + exp(least(greatest(-100.0, -"HL_BA_1"."NEUR_1_3"), 100.0))) AS "NEUR_1_3"
FROM "HL_BA_1"),
"HL_1_logistic_1" AS
(SELECT "HL_1_logistic"."KEY" AS "KEY", "HL_1_logistic"."NEUR_1_1" AS "NEUR_1_1", "HL_1_logistic"."NEUR_1_2" AS "NEUR_1_2", "HL_1_logistic"."NEUR_1_3" AS "NEUR_1_3"
FROM "HL_1_logistic"),
"OL_BA" AS
(SELECT "HL_1_logistic_1"."KEY" AS "KEY", 1.068935 * "HL_1_logistic_1"."NEUR_1_1" + 3.30009 * "HL_1_logistic_1"."NEUR_1_2" + -3.064384 * "HL_1_logistic_1"."NEUR_1_3" + -0.04866174 AS "NEUR_2_1", 3.964598 * "HL_1_logistic_1"."NEUR_1_1" + -3.047269 * "HL_1_logistic_1"."NEUR_1_2" + 0.9332374 * "HL_1_logistic_1"."NEUR_1_3" + -1.437843 AS "NEUR_2_2", -5.033561 * "HL_1_logistic_1"."NEUR_1_1" + -0.2527961 * "HL_1_logistic_1"."NEUR_1_2" + 2.131158 * "HL_1_logistic_1"."NEUR_1_3" + 1.486506 AS "NEUR_2_3"
FROM "HL_1_logistic_1"),
"OL_softmax" AS
(SELECT "OL_BA"."KEY" AS "KEY", "OL_BA"."NEUR_2_1" AS "NEUR_2_1", "OL_BA"."NEUR_2_2" AS "NEUR_2_2", "OL_BA"."NEUR_2_3" AS "NEUR_2_3"
FROM "OL_BA"),
"OL_softmax_1" AS
(SELECT "OL_softmax"."KEY" AS "KEY", "OL_softmax"."NEUR_2_1" AS "NEUR_2_1", "OL_softmax"."NEUR_2_2" AS "NEUR_2_2", "OL_softmax"."NEUR_2_3" AS "NEUR_2_3"
FROM "OL_softmax"),
orig_cte AS
(SELECT "OL_softmax_1"."KEY" AS "KEY", "OL_softmax_1"."NEUR_2_1" AS "Score_setosa", "OL_softmax_1"."NEUR_2_2" AS "Score_versicolor", "OL_softmax_1"."NEUR_2_3" AS "Score_virginica", CAST(NULL AS FLOAT) AS "Proba_setosa", CAST(NULL AS FLOAT) AS "Proba_versicolor", CAST(NULL AS FLOAT) AS "Proba_virginica", CAST(NULL AS FLOAT) AS "LogProba_setosa", CAST(NULL AS FLOAT) AS "LogProba_versicolor", CAST(NULL AS FLOAT) AS "LogProba_virginica", CAST(NULL AS BIGINT) AS "Decision", CAST(NULL AS FLOAT) AS "DecisionProba"
FROM "OL_softmax_1"),
score_class_union AS
(SELECT scu."KEY_u" AS "KEY_u", scu.class AS class, scu."LogProba" AS "LogProba", scu."Proba" AS "Proba", scu."Score" AS "Score"
FROM (SELECT orig_cte."KEY" AS "KEY_u", 'setosa' AS class, orig_cte."LogProba_setosa" AS "LogProba", orig_cte."Proba_setosa" AS "Proba", orig_cte."Score_setosa" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 'versicolor' AS class, orig_cte."LogProba_versicolor" AS "LogProba", orig_cte."Proba_versicolor" AS "Proba", orig_cte."Score_versicolor" AS "Score"
FROM orig_cte UNION ALL SELECT orig_cte."KEY" AS "KEY_u", 'virginica' AS class, orig_cte."LogProba_virginica" AS "LogProba", orig_cte."Proba_virginica" AS "Proba", orig_cte."Score_virginica" AS "Score"
FROM orig_cte) AS scu),
score_max AS
(SELECT orig_cte."KEY" AS "KEY", orig_cte."Score_setosa" AS "Score_setosa", orig_cte."Score_versicolor" AS "Score_versicolor", orig_cte."Score_virginica" AS "Score_virginica", orig_cte."Proba_setosa" AS "Proba_setosa", orig_cte."Proba_versicolor" AS "Proba_versicolor", orig_cte."Proba_virginica" AS "Proba_virginica", orig_cte."LogProba_setosa" AS "LogProba_setosa", orig_cte."LogProba_versicolor" AS "LogProba_versicolor", orig_cte."LogProba_virginica" AS "LogProba_virginica", orig_cte."Decision" AS "Decision", orig_cte."DecisionProba" AS "DecisionProba", max_select."KEY_m" AS "KEY_m", max_select."max_Score" AS "max_Score"
FROM orig_cte LEFT OUTER JOIN (SELECT score_class_union."KEY_u" AS "KEY_m", max(score_class_union."Score") AS "max_Score"
FROM score_class_union GROUP BY score_class_union."KEY_u") AS max_select ON orig_cte."KEY" = max_select."KEY_m"),
score_soft_max_deltas AS
(SELECT score_max."KEY" AS "KEY", score_max."Score_setosa" AS "Score_setosa", score_max."Score_versicolor" AS "Score_versicolor", score_max."Score_virginica" AS "Score_virginica", score_max."Proba_setosa" AS "Proba_setosa", score_max."Proba_versicolor" AS "Proba_versicolor", score_max."Proba_virginica" AS "Proba_virginica", score_max."LogProba_setosa" AS "LogProba_setosa", score_max."LogProba_versicolor" AS "LogProba_versicolor", score_max."LogProba_virginica" AS "LogProba_virginica", score_max."Decision" AS "Decision", score_max."DecisionProba" AS "DecisionProba", score_max."KEY_m" AS "KEY_m", score_max."max_Score" AS "max_Score", exp(greatest(-100.0, score_max."Score_setosa" - score_max."max_Score")) AS "exp_delta_Score_setosa", exp(greatest(-100.0, score_max."Score_versicolor" - score_max."max_Score")) AS "exp_delta_Score_versicolor", exp(greatest(-100.0, score_max."Score_virginica" - score_max."max_Score")) AS "exp_delta_Score_virginica"
FROM score_max),
score_class_union_soft AS
(SELECT soft_scu."KEY" AS "KEY", soft_scu.class AS class, soft_scu."exp_delta_Score" AS "exp_delta_Score"
FROM (SELECT score_soft_max_deltas."KEY" AS "KEY", 'setosa' AS class, score_soft_max_deltas."exp_delta_Score_setosa" AS "exp_delta_Score"
FROM score_soft_max_deltas UNION ALL SELECT score_soft_max_deltas."KEY" AS "KEY", 'versicolor' AS class, score_soft_max_deltas."exp_delta_Score_versicolor" AS "exp_delta_Score"
FROM score_soft_max_deltas UNION ALL SELECT score_soft_max_deltas."KEY" AS "KEY", 'virginica' AS class, score_soft_max_deltas."exp_delta_Score_virginica" AS "exp_delta_Score"
FROM score_soft_max_deltas) AS soft_scu),
score_soft_max AS
(SELECT score_soft_max_deltas."KEY" AS "KEY", score_soft_max_deltas."Score_setosa" AS "Score_setosa", score_soft_max_deltas."Score_versicolor" AS "Score_versicolor", score_soft_max_deltas."Score_virginica" AS "Score_virginica", score_soft_max_deltas."Proba_setosa" AS "Proba_setosa", score_soft_max_deltas."Proba_versicolor" AS "Proba_versicolor", score_soft_max_deltas."Proba_virginica" AS "Proba_virginica", score_soft_max_deltas."LogProba_setosa" AS "LogProba_setosa", score_soft_max_deltas."LogProba_versicolor" AS "LogProba_versicolor", score_soft_max_deltas."LogProba_virginica" AS "LogProba_virginica", score_soft_max_deltas."Decision" AS "Decision", score_soft_max_deltas."DecisionProba" AS "DecisionProba", score_soft_max_deltas."KEY_m" AS "KEY_m", score_soft_max_deltas."max_Score" AS "max_Score", score_soft_max_deltas."exp_delta_Score_setosa" AS "exp_delta_Score_setosa", score_soft_max_deltas."exp_delta_Score_versicolor" AS "exp_delta_Score_versicolor", score_soft_max_deltas."exp_delta_Score_virginica" AS "exp_delta_Score_virginica", sum_exp_t."KEY_sum" AS "KEY_sum", sum_exp_t."sum_ExpDeltaScore" AS "sum_ExpDeltaScore"
FROM score_soft_max_deltas LEFT OUTER JOIN (SELECT score_class_union_soft."KEY" AS "KEY_sum", sum(score_class_union_soft."exp_delta_Score") AS "sum_ExpDeltaScore"
FROM score_class_union_soft GROUP BY score_class_union_soft."KEY") AS sum_exp_t ON score_soft_max_deltas."KEY" = sum_exp_t."KEY_sum"),
union_with_max AS
(SELECT score_class_union."KEY_u" AS "KEY_u", score_class_union.class AS class, score_class_union."LogProba" AS "LogProba", score_class_union."Proba" AS "Proba", score_class_union."Score" AS "Score", score_soft_max."KEY" AS "KEY", score_soft_max."Score_setosa" AS "Score_setosa", score_soft_max."Score_versicolor" AS "Score_versicolor", score_soft_max."Score_virginica" AS "Score_virginica", score_soft_max."Proba_setosa" AS "Proba_setosa", score_soft_max."Proba_versicolor" AS "Proba_versicolor", score_soft_max."Proba_virginica" AS "Proba_virginica", score_soft_max."LogProba_setosa" AS "LogProba_setosa", score_soft_max."LogProba_versicolor" AS "LogProba_versicolor", score_soft_max."LogProba_virginica" AS "LogProba_virginica", score_soft_max."Decision" AS "Decision", score_soft_max."DecisionProba" AS "DecisionProba", score_soft_max."KEY_m" AS "KEY_m", score_soft_max."max_Score" AS "max_Score", score_soft_max."exp_delta_Score_setosa" AS "exp_delta_Score_setosa", score_soft_max."exp_delta_Score_versicolor" AS "exp_delta_Score_versicolor", score_soft_max."exp_delta_Score_virginica" AS "exp_delta_Score_virginica", score_soft_max."KEY_sum" AS "KEY_sum", score_soft_max."sum_ExpDeltaScore" AS "sum_ExpDeltaScore"
FROM score_class_union LEFT OUTER JOIN score_soft_max ON score_class_union."KEY_u" = score_soft_max."KEY"),
arg_max_cte AS
(SELECT score_soft_max."KEY" AS "KEY", score_soft_max."Score_setosa" AS "Score_setosa", score_soft_max."Score_versicolor" AS "Score_versicolor", score_soft_max."Score_virginica" AS "Score_virginica", score_soft_max."Proba_setosa" AS "Proba_setosa", score_soft_max."Proba_versicolor" AS "Proba_versicolor", score_soft_max."Proba_virginica" AS "Proba_virginica", score_soft_max."LogProba_setosa" AS "LogProba_setosa", score_soft_max."LogProba_versicolor" AS "LogProba_versicolor", score_soft_max."LogProba_virginica" AS "LogProba_virginica", score_soft_max."Decision" AS "Decision", score_soft_max."DecisionProba" AS "DecisionProba", score_soft_max."KEY_m" AS "KEY_m", score_soft_max."max_Score" AS "max_Score", score_soft_max."exp_delta_Score_setosa" AS "exp_delta_Score_setosa", score_soft_max."exp_delta_Score_versicolor" AS "exp_delta_Score_versicolor", score_soft_max."exp_delta_Score_virginica" AS "exp_delta_Score_virginica", score_soft_max."KEY_sum" AS "KEY_sum", score_soft_max."sum_ExpDeltaScore" AS "sum_ExpDeltaScore", "arg_max_t_Score"."KEY_Score" AS "KEY_Score", "arg_max_t_Score"."arg_max_Score" AS "arg_max_Score", soft_max_comp."KEY_softmax" AS "KEY_softmax", soft_max_comp."SoftProba_setosa" AS "SoftProba_setosa", soft_max_comp."SoftProba_versicolor" AS "SoftProba_versicolor", soft_max_comp."SoftProba_virginica" AS "SoftProba_virginica"
FROM score_soft_max LEFT OUTER JOIN (SELECT union_with_max."KEY" AS "KEY_Score", max(union_with_max.class) AS "arg_max_Score"
FROM union_with_max
WHERE union_with_max."max_Score" <= union_with_max."Score" GROUP BY union_with_max."KEY") AS "arg_max_t_Score" ON score_soft_max."KEY" = "arg_max_t_Score"."KEY_Score" LEFT OUTER JOIN (SELECT score_soft_max."KEY" AS "KEY_softmax", score_soft_max."exp_delta_Score_setosa" / score_soft_max."sum_ExpDeltaScore" AS "SoftProba_setosa", score_soft_max."exp_delta_Score_versicolor" / score_soft_max."sum_ExpDeltaScore" AS "SoftProba_versicolor", score_soft_max."exp_delta_Score_virginica" / score_soft_max."sum_ExpDeltaScore" AS "SoftProba_virginica"
FROM score_soft_max) AS soft_max_comp ON soft_max_comp."KEY_softmax" = "arg_max_t_Score"."KEY_Score")
 SELECT arg_max_cte."KEY" AS "KEY", CAST(NULL AS FLOAT) AS "Score_setosa", CAST(NULL AS FLOAT) AS "Score_versicolor", CAST(NULL AS FLOAT) AS "Score_virginica", arg_max_cte."SoftProba_setosa" AS "Proba_setosa", arg_max_cte."SoftProba_versicolor" AS "Proba_versicolor", arg_max_cte."SoftProba_virginica" AS "Proba_virginica", CASE WHEN (arg_max_cte."SoftProba_setosa" IS NULL OR arg_max_cte."SoftProba_setosa" > 0.0) THEN ln(arg_max_cte."SoftProba_setosa") ELSE -1.79769313486231e+308 END AS "LogProba_setosa", CASE WHEN (arg_max_cte."SoftProba_versicolor" IS NULL OR arg_max_cte."SoftProba_versicolor" > 0.0) THEN ln(arg_max_cte."SoftProba_versicolor") ELSE -1.79769313486231e+308 END AS "LogProba_versicolor", CASE WHEN (arg_max_cte."SoftProba_virginica" IS NULL OR arg_max_cte."SoftProba_virginica" > 0.0) THEN ln(arg_max_cte."SoftProba_virginica") ELSE -1.79769313486231e+308 END AS "LogProba_virginica", arg_max_cte."arg_max_Score" AS "Decision", greatest(arg_max_cte."SoftProba_setosa", arg_max_cte."SoftProba_versicolor", arg_max_cte."SoftProba_virginica") AS "DecisionProba"
FROM arg_max_cte

# Execute the SQL Code

In [7]:
library(RODBC)
conn = odbcConnect("pgsql", uid="db", pwd="db", case="nochange")
odbcSetAutoCommit(conn , autoCommit = TRUE)

[1] 0

In [8]:
dataset = iris[,-5]

df_sql = as.data.frame(dataset)
names(df_sql) = sprintf("Feature_%d",0:(ncol(df_sql)-1))
df_sql$KEY = seq.int(nrow(dataset))

sqlDrop(conn , "INPUT_DATA" , errors = FALSE)
sqlSave(conn, df_sql, tablename = "INPUT_DATA", verbose = FALSE)

head(df_sql)

  Feature_0 Feature_1 Feature_2 Feature_3 KEY
1 5.1       3.5       1.4       0.2       1
2 4.9       3.0       1.4       0.2       2
3 4.7       3.2       1.3       0.2       3
4 4.6       3.1       1.5       0.2       4
5 5.0       3.6       1.4       0.2       5
6 5.4       3.9       1.7       0.4       6

In [9]:
# colnames(df_sql)
# odbcGetInfo(conn)
# sqlTables(conn)

In [10]:
df_sql_out = sqlQuery(conn, lModelSQL)
head(df_sql_out)

  KEY Score_setosa Score_versicolor Score_virginica Proba_setosa
1  87 NA           NA               NA              0.008454715
2 116 NA           NA               NA              0.002113786
3  71 NA           NA               NA              0.011807202
4  68 NA           NA               NA              0.009479021
5  51 NA           NA               NA              0.007877158
6  52 NA           NA               NA              0.009225486
  Proba_versicolor Proba_virginica LogProba_setosa LogProba_versicolor
1 0.97113989       0.02040540      -4.773031       -0.02928476
2 0.03291219       0.96497403      -6.159275       -3.41391232
3 0.42347135       0.56472145      -4.439046       -0.85926943
4 0.98000051       0.01052047      -4.658674       -0.02020219
5 0.98127802       0.01084482      -4.843788       -0.01889945
6 0.97389379       0.01688073      -4.685785       -0.02645303
  LogProba_virginica Decision   DecisionProba
1 -3.89195581        versicolor 0.9711399
2 -0.03565409        virginica  0.9649740
3 -0.57142268        virginica  0.5647215
4 -4.55443232        versicolor 0.9800005
5 -4.52406799        versicolor 0.9812780
6 -4.08158279        versicolor 0.9738938

# R Caret Rpart Output

In [11]:
pred_proba  =  predict(model, as.matrix(iris[,-5]), type = "prob")
df_r_out = data.frame(pred_proba)
names(df_r_out) = sprintf("Proba_%s",model$levels)

df_r_out$KEY = seq.int(nrow(dataset))
df_r_out$Score_setosa  =  NA
df_r_out$Score_versicolor  =  NA
df_r_out$Score_virginica  =  NA
df_r_out$LogProba_setosa  =  log(df_r_out$Proba_setosa)
df_r_out$LogProba_versicolor =  log(df_r_out$Proba_versicolor)
df_r_out$LogProba_virginica  =  log(df_r_out$Proba_virginica)
df_r_out$Decision =   predict(model, as.matrix(iris[,-5]), type = "raw")
df_r_out$DecisionProba =  apply(pred_proba, 1, function(x) max(x))
head(df_r_out)

  Proba_setosa Proba_versicolor Proba_virginica KEY Score_setosa
1 0.9881501    0.01143637       0.0004134949    1   NA
2 0.9839552    0.01551062       0.0005342213    2   NA
3 0.9866005    0.01293939       0.0004600961    3   NA
4 0.9820602    0.01735468       0.0005850706    4   NA
5 0.9884643    0.01113156       0.0004041086    5   NA
6 0.9875193    0.01205037       0.0004303420    6   NA
  Score_versicolor Score_virginica LogProba_setosa LogProba_versicolor
1 NA               NA              -0.01192064     -4.470956
2 NA               NA              -0.01617495     -4.166231
3 NA               NA              -0.01349007     -4.347479
4 NA               NA              -0.01810262     -4.053893
5 NA               NA              -0.01160272     -4.497971
6 NA               NA              -0.01255925     -4.418660
  LogProba_virginica Decision DecisionProba
1 -7.790865          setosa   0.9881501
2 -7.534700          setosa   0.9839552
3 -7.684075          setosa   0.9866005
4 -7.443778          setosa   0.9820602
5 -7.813827          setosa   0.9884643
6 -7.750930          setosa   0.9875193

# Compare R and SQL output

In [12]:
df_merge = merge(x = df_r_out, y = df_sql_out, by = "KEY", all = TRUE, , suffixes = c("_1","_2"))
head(df_merge)

  KEY Proba_setosa_1 Proba_versicolor_1 Proba_virginica_1 Score_setosa_1
1 1   0.9881501      0.01143637         0.0004134949      NA
2 2   0.9839552      0.01551062         0.0005342213      NA
3 3   0.9866005      0.01293939         0.0004600961      NA
4 4   0.9820602      0.01735468         0.0005850706      NA
5 5   0.9884643      0.01113156         0.0004041086      NA
6 6   0.9875193      0.01205037         0.0004303420      NA
  Score_versicolor_1 Score_virginica_1 LogProba_setosa_1 LogProba_versicolor_1
1 NA                 NA                -0.01192064       -4.470956
2 NA                 NA                -0.01617495       -4.166231
3 NA                 NA                -0.01349007       -4.347479
4 NA                 NA                -0.01810262       -4.053893
5 NA                 NA                -0.01160272       -4.497971
6 NA                 NA                -0.01255925       -4.418660
  LogProba_virginica_1 ⋯ Score_versicolor_2 Score_virginica_2 Proba_setosa_2
1 -7.790865            ⋯ NA                 NA                0.9881501
2 -7.534700            ⋯ NA                 NA                0.9839552
3 -7.684075            ⋯ NA                 NA                0.9866005
4 -7.443778            ⋯ NA                 NA                0.9820602
5 -7.813827            ⋯ NA                 NA                0.9884643
6 -7.750930            ⋯ NA                 NA                0.9875193
  Proba_versicolor_2 Proba_virginica_2 LogProba_setosa_2 LogProba_versicolor_2
1 0.01143637         0.0004134950      -0.01192064       -4.470956
2 0.01551062         0.0005342215      -0.01617495       -4.166231
3 0.01293939         0.0004600963      -0.01349007       -4.347479
4 0.01735468         0.0005850708      -0.01810262       -4.053893
5 0.01113156         0.0004041088      -0.01160272       -4.497971
6 0.01205036         0.0004303422      -0.01255925       -4.418660
  LogProba_virginica_2 Decision_2 DecisionProba_2
1 -7.790865            setosa     0.9881501
2 -7.534700            setosa     0.9839552
3 -7.684075            setosa     0.9866005
4 -7.443778            setosa     0.9820602
5 -7.813827            setosa     0.9884643
6 -7.750930            setosa     0.9875193

In [13]:
diffs_df = df_merge[df_merge$Decision_1 != df_merge$Decision_2,]
head(diffs_df)

Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”Warning message in cbind(parts$left, ellip_h, parts$right, deparse.level = 0L):
“number of rows of result is not a multiple of vector length (arg 2)”

     KEY Proba_setosa_1 Proba_versicolor_1 Proba_virginica_1 Score_setosa_1
     Score_versicolor_1 Score_virginica_1 LogProba_setosa_1
     LogProba_versicolor_1 LogProba_virginica_1 ⋯ Score_versicolor_2
     Score_virginica_2 Proba_setosa_2 Proba_versicolor_2 Proba_virginica_2
     LogProba_setosa_2 LogProba_versicolor_2 LogProba_virginica_2 Decision_2
     DecisionProba_2

In [17]:
stopifnot(nrow(diffs_df) == 0)

In [15]:
summary(df_sql_out)

      KEY         Score_setosa   Score_versicolor Score_virginica
 Min.   :  1.00   Mode:logical   Mode:logical     Mode:logical
 1st Qu.: 38.25   NA's:150       NA's:150         NA's:150
 Median : 75.50
 Mean   : 75.50
 3rd Qu.:112.75
 Max.   :150.00
  Proba_setosa      Proba_versicolor   Proba_virginica     LogProba_setosa
 Min.   :0.001213   Min.   :0.008885   Min.   :0.0003322   Min.   :-6.71468
 1st Qu.:0.004039   1st Qu.:0.015907   1st Qu.:0.0005430   1st Qu.:-5.51188
 Median :0.010727   Median :0.034865   Median :0.0202886   Median :-4.53497
 Mean   :0.333398   Mean   :0.335251   Mean   :0.3313515   Mean   :-3.48702
 3rd Qu.:0.983550   3rd Qu.:0.938495   3rd Qu.:0.9099537   3rd Qu.:-0.01659
 Max.   :0.990782   Max.   :0.981278   Max.   :0.9822518   Max.   :-0.00926
 LogProba_versicolor LogProba_virginica       Decision  DecisionProba
 Min.   :-4.72333    Min.   :-8.00990   setosa    :50   Min.   :0.4951
 1st Qu.:-4.14106    1st Qu.:-7.51843   versicolor:48   1st Qu.:0.9530
 Median :-3.35668    Median :-3.89771   virginica :52   Median :0.9759
 Mean   :-2.48036    Mean   :-3.75110                   Mean   :0.9427
 3rd Qu.:-0.06349    3rd Qu.:-0.09436                   3rd Qu.:0.9835
 Max.   :-0.01890    Max.   :-0.01791                   Max.   :0.9908

In [16]:
summary(df_r_out)

  Proba_setosa      Proba_versicolor   Proba_virginica          KEY
 Min.   :0.001213   Min.   :0.008885   Min.   :0.0003322   Min.   :  1.00
 1st Qu.:0.004039   1st Qu.:0.015907   1st Qu.:0.0005430   1st Qu.: 38.25
 Median :0.010727   Median :0.034865   Median :0.0202887   Median : 75.50
 Mean   :0.333398   Mean   :0.335250   Mean   :0.3313516   Mean   : 75.50
 3rd Qu.:0.983550   3rd Qu.:0.938495   3rd Qu.:0.9099539   3rd Qu.:112.75
 Max.   :0.990782   Max.   :0.981278   Max.   :0.9822518   Max.   :150.00
 Score_setosa   Score_versicolor Score_virginica LogProba_setosa
 Mode:logical   Mode:logical     Mode:logical    Min.   :-6.71468
 NA's:150       NA's:150         NA's:150        1st Qu.:-5.51188
                                                 Median :-4.53497
                                                 Mean   :-3.48702
                                                 3rd Qu.:-0.01659
                                                 Max.   :-0.00926
 LogProba_versicolor LogProba_virginica       Decision  DecisionProba
 Min.   :-4.72333    Min.   :-8.00990   setosa    :50   Min.   :0.4951
 1st Qu.:-4.14106    1st Qu.:-7.51843   versicolor:48   1st Qu.:0.9530
 Median :-3.35668    Median :-3.89771   virginica :52   Median :0.9759
 Mean   :-2.48036    Mean   :-3.75110                   Mean   :0.9427
 3rd Qu.:-0.06349    3rd Qu.:-0.09436                   3rd Qu.:0.9835
 Max.   :-0.01890    Max.   :-0.01791                   Max.   :0.9908